<h1>Showing event which user participate</h1>
<h2>"<%=h  @user.login %>"</h2>

<% form_tag organisms_users_path, :method => 'get' do %>
  <p>
    <%=  hidden_field_tag 'user_id', @user.id %>
    <%=  hidden_field_tag 'role', params[:role] %>

    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<%= link_to "participate to #{@user.sure_participate.size} event(s) term", participations_path(:user_id => @user.id, :role =>:sure) %> |
<%= link_to "might participate to #{@user.maybe_participate.size} event(s) term", participations_path(:user_id => @user.id, :role =>:maybe) %> |
<%= link_to "do not participate to #{@user.not_participate.size} event(s) term", participations_path(:user_id => @user.id, :role =>:not) %>
<br />

<%= render :partial => "/terms/terms_list" %>

<%= link_to 'Back', user_path(@user) %>