<%= render :partial => "/users/header" %>

<% form_tag user_participations_path, :method => 'get' do %>
  <p>
    <%=  hidden_field_tag 'role', params[:role] %>

    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<ul class='tabs'>
  <li><% if params[:role]!='sure' %><%= link_to "participate to #{@user.sure_participate.size} event(s) term", user_participations_path(:user_id => @user.id, :role =>:sure) %><% else %>participate to <%= @user.sure_participate.size %> event(s) term<% end %></li>
  <li><% if params[:role]!='maybe' %><%= link_to "might participate to #{@user.maybe_participate.size} event(s) term", user_participations_path(:user_id => @user.id, :role =>:maybe) %><% else %>might participate to <%= @user.maybe_participate.size %> event(s) term<% end %></li>
  <li><% if params[:role]!='not' %><%= link_to "do not participate to #{@user.not_participate.size} event(s) term", user_participations_path(:user_id => @user.id, :role =>:not) %><% else %>do not participate to <%= @user.not_participate.size %> event(s) term<% end %></li>
</ul>

<%= render :partial => "/terms/terms_list" %>