<%= render :partial => "/events/header" %>
<div class="searchBox">
   <div class="searchBoxWhite">
    <%= display_term_box(@term.start_at, @term.end_at) %>
   </div>
</div>
<div class="searchBox">
  <div class="searchBoxWhite">
    <% form_tag term_participations_path, :method => 'get' do %>

        <%=  hidden_field_tag 'role', params[:role] %>

        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag t('participations.index_term.Search'), :name => nil %>

    <% end %>
  </div>
</div>
<div class="participantContent">
  <ul class='tabsParticipant'>
    <li>
      <% if params[:role]!='sure' %>
        <%= link_to t('participations.index_term.Attending')+" (#{@term.sure_participants.size})", event_term_participations_path(:event_id =>@event.id, :term_id => @term.id, :role =>:sure) %>
      <% else %>
        <%= link_to t('participations.index_term.Attending')+" (#{@term.sure_participants.size})", event_term_participations_path(:event_id =>@event.id, :term_id => @term.id, :role =>:sure), :class => 'selected' %>
      <% end %>
    </li>
    <li>
      <% if params[:role]!='maybe' %>
        <%= link_to t('participations.index_term.Maybe_attending')+" (#{@term.maybe_participants.size})", event_term_participations_path(:event_id =>@event.id, :term_id => @term.id, :role =>:may_be) %>
      <% else %>
        <%= link_to t('participations.index_term.Maybe_attending')+" (#{@term.maybe_participants.size})", event_term_participations_path(:event_id =>@event.id, :term_id => @term.id, :role =>:may_be), :class => 'selected' %>
      <% end %>
    </li>
    <li>
      <% if params[:role]!='not' %>
        <%= link_to t('participations.index_term.Not_attending')+" (#{@term.not_participants.size})", event_term_participations_path(:event_id =>@event.id, :term_id => @term.id, :role =>:not) %>
      <% else %>
        <%= link_to t('participations.index_term.Not_attending')+" (#{@term.not_participants.size})", event_term_participations_path(:event_id =>@event.id, :term_id => @term.id, :role =>:not), :class => 'selected' %>
      <% end %>
    </li>
  </ul>
<%= render :partial => "/users/users_list" %>
</div>


