<%= render :partial => "/shared_templates/email_header" %>
<p>Dear <%=h get_user_name_or_pseudo(@user) %>,</p>

<p>You are now a <%= @role %> of <%=h @organism.name %></p>

<p><%=h @url %></p>
<%= render :partial => "/shared_templates/email_footer" %>
