<%= render :partial => "/shared_templates/email_header" %>
<p>This user wants to become a member: <%= get_user_name_or_pseudo(@user) %></p>

<p>You can:</p>

<p>- accept as a member <%= @url_member %></p>

<p>- accept as a moderator <%= @url_moderator %><br />
- accept as an admin <%= @url_admin %></p>

<p>- refuse <%= @url_refuse %></p>
<%= render :partial => "/shared_templates/email_footer" %>
