<ul class='tabs'>
<li><% if controller_name != 'organisms' || controller.action_name=='edit' %><%= link_to("Profil", @organism) %><% else %>Profil<% end %></li>
<% if @organism.posts.size > 0 || is_organism_admin?(@organism) %><li><% if controller_name != 'posts' %><%= link_to("Blog", organism_posts_path(:organism_id => @organism.id)) %><% else %>Blog<% end %></li>
<li><% if controller_name != 'organism_events' %><%= link_to("Events", organism_events_path(:organism_id => @organism.id)) %><% else %>Events<% end %></li><% end %>
<li><% if controller_name != 'members' %><%= link_to("Members", organism_members_path(:organism_id => @organism.id, :role =>:members)) %><% else %>Members<% end %></li>
<li><% if controller_name != 'organism_galleries' %><%= link_to("Pictures galleries", organism_galleries_path(:organism_id => @organism.id)) %><% else %>Pictures galleries<% end %></li>
<% if is_organism_admin?(@organism) %><li><% if (controller_name != 'organisms' || controller.action_name!='edit') %><%= link_to("Edit", edit_organism_path(@organism)) %><% else %>Edit<% end %></li><% end %>
</ul>
