<% form_for(@organism, :live_validations => true) do |f| %>
  <%= f.error_messages %>
  <div class="span-3">
    <%= display_organism_cover(@organism, :thumb) %>
  </div>
  <div class="span-12">
    <h3> <%= f.text_field :name, :class => 'title' %></h3>
  </div>
  <div class="span-2 last">
    <% if current_user && @organism.is_user_moderator?(current_user) %>
    <br /><br />
    (  <%= link_to t('organism.edit.Destroy'), @organism, :confirm => t('organisms.edit.Are_you_sure'), :method => :delete %> )
    <% end %>
  </div>
  <hr />
  <%= render :partial => "/organisms/sub_header" %>

  <div class="span-8 colborder">
    <div class="box">
      <% if @organism.picture.nil? %>
        <%= display_organism_cover(@organism, :medium) %><br />
        <%= link_to(t('organisms.edit.Attach_picture'), url_for(:controller => 'pictures', :action => 'new', :parent_id => @organism.id, :parent_type => "Organism")) %>
      <% else %>
        <%= display_organism_cover(@organism, :medium) %><br />
        <%= link_to(t('organisms.edit.Change_picture'), url_for(:controller => 'pictures', :action => 'new', :parent_id => @organism.id, :parent_type => "Organism")) %>
      <% end %>
    </div>
    <div class="box">
        <p>
          <%= f.label :street %>:<br />
          <%= f.text_field :street %>
        </p>
        <p>
          <%= f.label :city %>:<br />
          <%= f.text_field :city %>
        </p>
      </div>
  </div>
  <div class="span-8 last">
    <div class="box">
      <%= f.text_area :description_short, :cols => 35, :rows => 5 %>
    </div>
    <div class="box">
      <b><%= t('organisms.edit.Manager_name') %></b>
      <%= f.text_field :manager_name, :style => 'text' %>
      <br />
      <b><%= t('organisms.edit.Phone') %></b>
      <%= f.text_field :phone, :style => 'text' %>
      <br />
      <b><%= t('organisms.edit.In_directory') %></b>
      <%= f.check_box :in_directory %>
      <br />
      <p>
        <%= f.label :admins_password %>:<br />
        <%= f.text_field :admins_password %>
      </p>
      <p>
        <%= f.label :moderators_password %>:<br />
        <%= f.text_field :moderators_password %>
      </p>
      <p>
        <%= f.label :members_password %>:<br />
        <%= f.text_field :members_password %>
      </p>
    </div>
  </div>
  <hr />
  <div class="box">

    <b><%= f.label :activities %></b>
    <%=  swapselect :organism,
      @organism,
      :activities,
      Activity.find(:all, :order => 'name').map{ |activity| [activity.name.gsub(/[']/, '\\\\\''), activity.id] }
  %>

  </div>

  <hr />

    <div class="box">
      <%= f.label :description_long %><br />
      <%= fckeditor_textarea(:organism, :description_long, :toolbarSet => 'Simple', :width => '100%', :height => '400px') %>

    </div>

  <p>
    <%= f.submit t('organisms.edit.Update') %>
  </p>
<% end %>

<%= link_to t('organisms.edit.Show'), @organism %> |
<%= link_to t('organisms.edit.Back'), organisms_path %>
