<div class="titledescription"></div>

<div class="organismNewBody">
  <% form_for(@organism, :live_validations => true) do |f| %>
    <%= f.error_messages %>
    <div class="organismNewBodyCenter">
      <div class="organismNewBodyCenterLeft">
        <h3><%= f.label :name %></h3>
      </div>
      <div class="organismNewBodyCenterRight">
        <%= f.text_field :name, :class => 'title' %>
      </div>
    </div>

    <div class="organismNewBodyCenter">
      <div class="organismNewBodyCenterLeft">
        <h3><%= f.label :description_short %></h3>
      </div>
      <div class="organismNewBodyCenterRight">
        <%= f.text_area :description_short, :cols => 39, :rows => 3 %>
      </div>
    </div>

    <div class="organismNewBodyCenter">
      <div class="organismNewBodyCenterLeft">
        <h3><%= f.label :manager_name %></h3>
      </div>
      <div class="organismNewBodyCenterRight">
        <%= f.text_field :manager_name, :style => 'text' %>
      </div>
    </div>

    <div class="organismNewBodyCenter">
      <div class="organismNewBodyCenterLeft">
        <h3><%= f.label :phone %></h3>
      </div>
      <div class="organismNewBodyCenterRight">
        <%= f.text_field :phone, :style => 'text' %>
      </div>
    </div>

    <div class="organismNewBodyCenter">
      <%= f.submit t('organisms.new.Create') %>
    </div>

  <% end %>
</div>

