<div class="titledescription"></div>

<div class="organismNewBody">
  <% form_for(@organism, :live_validations => true) do |f| %>
    <%= f.error_messages %>
    <div class="organismNewBodyCenter">
      <p>
        <%= t('organisms.new.Message') %>
      </p>
    </div>
    <div class="organismNewBodyCenter">
      <div class="organismNewBodyCenterLeft">
        <h3><%= t('organisms.new.Title') %></h3>
      </div>
      <div class="organismNewBodyCenterRight">
        <%= f.text_field :name, :class => 'textFieldOrganismNew' %>
      </div>
    </div>

    <div class="organismNewBodyCenter">
      <div class="organismNewBodyCenterLeft">
        <h3><%= t('organisms.new.DescriptionShort') %></h3>
      </div>
      <div class="organismNewBodyCenterRight">
        <%= f.text_area :description_short, :cols => 39, :rows => 3 %>
      </div>
    </div>

    <div class="organismNewBodyCenter">
      <div class="organismNewBodyCenterLeft">
        <h3><%= t('organisms.new.Manager') %></h3>
      </div>
      <div class="organismNewBodyCenterRight">
        <%= f.text_field :manager_name, :style => 'text', :class => 'textFieldOrganismNew' %>
      </div>
    </div>

    <div class="organismNewBodyCenter">
      <div class="organismNewBodyCenterLeft">
        <h3><%= t('organisms.new.Phone') %></h3>
      </div>
      <div class="organismNewBodyCenterRight">
        <%= f.text_field :phone, :style => 'text', :class => 'textFieldOrganismNew' %>
      </div>
    </div>

    <%#*<div class="organismNewBodyCenter">%>
      <%#*<div class="organismNewBodyCenterRight">%>
        <%#*<textarea rows="15" cols="39">Conditions</textarea>%>
      <%#*</div>%>
    <%#*</div>%>

    <%#*<div class="organismNewBodyCenter">%>
      <%#*<div class="organismNewBodyCenterLeft">%>
        <%#*<h3><%= t('organisms.new.Accept_conditions') %>
<%#*</h3>%>
      <%#*</div>%>
      <%#*<div class="organismNewBodyCenterRight">%>
        <%#= f.check_box  :terms_of_service %>
      <%#*</div>%>
    <%#*</div>%>

    <div class="organismNewBodyCenter">
      <%= f.submit t('organisms.new.Create') %>
    </div>

  <% end %>
</div>

