<%= render :partial => "/organisms/header" %>
<div class="organismShowBody">
  <div class="organismShowBodyLeft">

    <% if @organism.picture.nil? %>
      <%= display_organism_cover(@organism, :medium) %>
      <% if current_user && @organism.is_user_moderator?(current_user) %>
        <div class="organismShowBodyLeftContent">
          <%= link_to(t('organisms.show.Attach_picture'), new_url_for_even_polymorphic(@organism, :picture)) %>
        </div>
      <% end %>
    <% else %>
      <%= link_to(image_tag(@organism.picture.attached.url(:medium)), url_for_even_polymorphic(@organism.picture)) %>
      <% if current_user && @organism.is_user_moderator?(current_user) %>
        <div class="organismShowBodyLeftContent">
          <%= link_to(t('organisms.show.Change_image'),new_url_for_even_polymorphic(@organism, :picture)) %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="organismShowBodyRight">
    <% if !get_organism_address_as_string(@organism).blank? %>
      <p>
        <b><%= t('organisms.show.Address') %></b>
        <%= link_to(get_organism_address_as_string(@organism), organism_maps_path(@organism)) %>
      </p>
    <% end %>

    <% if current_user && @organism.is_user_moderator?(current_user)%>
      <p>
        <b><%= t('organisms.show.Manager_name') %></b>
        <%=h @organism.manager_name %>
      </p>
      <p>
        <b><%= t('organisms.show.Phone') %></b>
        <%=h @organism.phone %>
      </p>
      <p>
        <b><%= t('organisms.show.In_directory') %></b>
        <%=h boolean_to_literal(@organism.in_directory) %>
      </p>
    <% end %>
    <p>
      <b><%= t('organisms.show.Activities') %></b>
      <% @organism.activities.each do |@activity| %>
        <%= link_to(@activity.name, url_for(activity_path(@activity))) %>&nbsp;
      <% end %>
    </p>
    <% if @organism.admins.size > 0 %>
      <p>
        <b><%= t('organisms.show.Manager_name') %></b>
        <% @organism.admins.each do |admin| %>
          <%= get_user_name_or_pseudo_link(admin) %>
        <% end %>
      </p>
    <% end %>
    <% if @organism.moderators.size > 0 %>
      <p>
        <b><%= t('organisms.show.Moderators') %></b>
        <% @organism.moderators.each do |moderator| %>
          <%= get_user_name_or_pseudo_link(moderator) %>
        <% end %>
      </p>
    <% end %>
    <% if logged_in? -%>

      <% if @organism.is_user_related?(current_user) %>
        <b><%= t('organisms.show.Member_action') %></b> <%= link_to t('organisms.show.Not_be_a_member_anymore'), { :controller => "members", :action => "destroy_current_user_relation", :organism_id => @organism.id  }%>
      <% elsif @organism.is_user_pending?(current_user) %>
        <%= link_to t('organisms.show.Cancel_membership_pending_activation'), { :controller => "members", :action => "destroy_current_user_relation", :organism_id => @organism.id }%>
      <% else %>
        <% form_tag  url_for(:controller => "members", :organism_id => @organism.id, :action => "create_or_update_current_user"), :method => 'get' do  %>
            <%=   link_to_function(t('organisms.show.Become_member'), nil, :id => "member_action_link") do |page|
      page.visual_effect(:toggle_blind, 'become_member_form')
      #page << "if ($('description_long').getStyle('display')=='none'){"
      #page.replace_html(:more_link,t('events.content.Show_me_less'))
      #page << "}else{"
      #page.replace_html(:more_link,t('events.content.Show_me_more'))
      #page << "}"
    end %>
        <p id="become_member_form" style="display:none;">
            <%= t('organisms.show.Optional_password') %> <%= text_field_tag :members_password, params[:members_password] %> <%= t('organisms.show.only_if_u_know_it') %>
            <%= submit_tag t('organisms.show.Go'), :name => nil %>
          </p>
        <% end %>
      <% end  %>
    <% end  %>
    <script type="text/javascript">
      var addthis_config = {
        services_compact: 'email, facebook, twitter,live, hotmail, gmail, favorites, myspace, blogger, bloggy, yahoomail, print, printfriendly, pdfonline, more',
        services_exclude: 'print'
      }
    </script>
    <!-- AddThis Button BEGIN -->
    <script type="text/javascript">
      var addthis_config = {
        data_use_flash: false
      }
    </script>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pub=lebounce"></script>
    <!-- AddThis Button END -->

    </ br>

    <a href="http://www.addthis.com/bookmark.php?v=250&amp;pub=lebounce"
       class="addthis_button"><img
        src="http://s7.addthis.com/static/btn/v2/lg-share-fr.gif"
        width="125" height="16" border="0" alt="Share" /></a>
  </div>
</div>
<% if @organism.description_long && @organism.description_long!='' %>

  <div class="titledescription"></div>
  <div class="organismDescription">
    <%= @organism.description_long %>
  </div>

<% end %>


<% if @organism.members.size>0 %>
  <div class="titlederniersmembres"></div>
  <div class="memberBar">
    <div class="memberBarContent">
      <%= link_to t('organisms.show.All_members')+" (#{@organism.members.size})", organism_members_path(:organism_id => @organism.id, :role =>:members) %>
    </div>
    <% @organism.get_last_organism_users(4).each do |organisms_users| %>
      <div class="memberBarBox">
        <%= display_user_cover(organisms_users.user, :thumb) %><br />
        <%= get_user_name_or_pseudo_link(organisms_users.user) %>
      </div>
    <% end %>
  </div>
<% end %>

<%= render :partial => "/galleries/galleries_bar" %>
<div class="titlecomment"></div>
<div class="organismShowBodyCommentaire">
  <%= render :partial => "/comments/form" %>
  <%= render :partial => "/comments/list" %>
</div>


