<%= render :partial => "/organisms/header" %>
<div class="organismShowBody">
  <div class="organismShowBodyLeft">

    <% if @organism.picture.nil? %>
      <%= display_organism_cover(@organism, :medium) %>
      <% if current_user && @organism.is_user_moderator?(current_user) %>
           <div class="organismShowBodyLeftContent">
              <%= link_to("Attach a picture !", new_url_for_even_polymorphic(@organism, :picture)) %>
           </div>
      <% end %>
    <% else %>
      <%= link_to(image_tag(@organism.picture.attached.url(:medium)), url_for_even_polymorphic(@organism.picture)) %>
      <% if current_user && @organism.is_user_moderator?(current_user) %>
        <div class="organismShowBodyLeftContent">
          <%= link_to("Change the image",new_url_for_even_polymorphic(@organism, :picture)) %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="organismShowBodyRight">
    <% if !get_organism_address_as_string(@organism).blank? %>
    <p>
      <b>Address</b>:
      <%= link_to(get_organism_address_as_string(@organism), organism_maps_path(@organism)) %>
    </p>
    <% end %>
      <% if current_user && current_user.facebook_user? && facebook_session %>
        <p>
          <%= link_to 'Publish the organism on my Facebook Wall', url_for(:controller => 'facebook', :organism_id =>@organism.id, :user_id => current_user.id, :action => 'publish_object_on_wall') %>
        </p>
      <% end %>
      <% if current_user && @organism.is_user_moderator?(current_user)%>
        <p>
          <b>Manager name:</b>
          <%=h @organism.manager_name %>
        </p>
        <p>
          <b>Phone:</b>
          <%=h @organism.phone %>
        </p>
        <p>
          <b>In directory:</b>
          <%=h boolean_to_literal(@organism.in_directory) %>
        </p>
      <% end %>
      <p>
        <b>Activities:</b>
        <% @organism.activities.each do |@activity| %>
          <%= link_to(@activity.name, url_for(activity_path(@activity))) %>&nbsp;
        <% end %>
      </p>
      <% if @organism.admins.size > 0 %>
        <p>
          <b>Admins:</b>
          <% @organism.admins.each do |admin| %>
            <%= get_user_name_or_pseudo_link(admin) %>
          <% end %>
        </p>
      <% end %>
      <% if @organism.moderators.size > 0 %>
      <p>
        <b>Moderators:</b>
        <% @organism.moderators.each do |moderator| %>
          <%= get_user_name_or_pseudo_link(moderator) %>
        <% end %>
      </p>
    <% end %>
  </div>

  <% if @organism.description_long && @organism.description_long!='' %>
    </div>
    <div class="titledescription"></div>
    <div class="organismShowBodyMiddle">
      <%= @organism.description_long %>
    </div>
    <div>
  <% end %>
</div>

<% if logged_in? -%>
  <div class="titledevenirmembre"></div>
  <div class="organismShowBodyMiddle">
    <% if @organism.is_user_related?(current_user) %>
      <%= link_to 'Not be a member anymore', { :controller => "members", :action => "destroy_current_user_relation", :organism_id => @organism.id  }%>
    <% elsif @organism.is_user_pending?(current_user) %>
      <%= link_to 'Membership pending for activation. Cancel ?', { :controller => "members", :action => "destroy_current_user_relation", :organism_id => @organism.id }%>
    <% else %>
      <% form_tag  url_for(:controller => "members", :organism_id => @organism.id, :action => "create_or_update_current_user"), :method => 'get' do  %>
        <p>
          Optionnal password: <%= text_field_tag :members_password, params[:members_password] %> (only if you know it, not mandatory)
          <%= submit_tag "GO", :name => nil %>
        </p>
      <% end %>
    <% end  %>
  </div>
<% end  %>

<% if @organism.members.size>0 %>
  <div class="titlederniersmembres"></div>
  <div class="memberBar">
    <div class="memberBarContent">
      <%= link_to "All members (#{@organism.members.size})", organism_members_path(:organism_id => @organism.id, :role =>:members) %>
    </div>
    <% @organism.members[0,4].each do |user| %>
      <div class="memberBarBox">
          <%= display_user_cover(user, :thumb) %><br />
          <%= get_user_name_or_pseudo_link(user) %>
      </div>
    <% end %>
  </div>
<% end %>

<%= render :partial => "/galleries/galleries_bar" %>
<div class="titlecomment"></div>
<div class="organismShowBodyCommentaire">
    <%= render :partial => "/comments/form" %>
    <%= render :partial => "/comments/list" %>
</div>


