<div class="term box">
<% form_for(@term, :url => url_for_even_polymorphic(@term)) do |f| %>
    <p>
      <%= t('events.terms.Start_at') %> <% if !error_message_on(:term, :start_at).blank? %> <%  t('events.terms.Term_error') %> <% end %><br />
  <%#= term_form.datetime_select :start %>
      <%= f.calendar_date_select :start_at, :embedded => false,:year_range => [0.years.ago, 2.years.from_now], :time => false, :buttons => false, :onchange => "copy_start_date_to_end_date($F(this));" %>
      <%= f.text_field :start_hour, :size => 2 %>:<%= f.text_field :start_min, :size => 2 %>
    </p>
    <p>
      <%= t('events.terms.End_at') %> <% if !error_message_on(:term, :end).blank? %><%  t('events.terms.Term_error') %> <% end %><br />
  <%#= term_form.datetime_select :end_at %>
      <%= f.calendar_date_select :end_at, :embedded => false,:year_range => [0.years.ago, 2.years.from_now], :time => false, :buttons => false %>
      <%= f.text_field :end_hour, :size => 2 %>:<%= f.text_field :end_min, :size => 2 %>
    </p>
    <p>
        <%= error_message_on :term, :description %>
      <%= f.text_area :description, :cols => 35, :rows => 5 %>
  <%#= term_form.label :description %><br />
      <%#= fckeditor_textarea(:term, :description, :toolbarSet => 'Simple', :width => '100%', :height => '400px') %>
    </p>
  <%=  hidden_field_tag 'event_id', @event.id %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
</div>