<%= render :partial => "/shared_templates/email_header" %>
<p>Dear <%=h @receiver.login %>,</p>

<p>You receive this email because you are a moderator or admin of an organism.</p>

<p>A user has notified his participation status to the event <%=h @event.name %>:<br />
<%= @url_event %></p>

<p>The user is profil is visible here:<br />
<%= @url_user %></p>

<p>You can get all information about participants of the event at this address:<br />
<%= @url_participants %></p>

<p>Regards.</p>
<%= render :partial => "/shared_templates/email_footer" %>
