<%= render :partial => "/shared_templates/email_header" %>
<p>Dear <%=h get_user_name_or_pseudo(@user) %>,</p>

<p>You receive this email because you are a system moderator or admin.</p>

<p>A comment has been accepted by an organism moderator</p>

<p>Comment's text:
  <%= h @comment.text %></p>

<p>You can eventually:</p>

<p>Edit the comment:<br />
  <%=h @url_edit %></p>

<p>Suspend the comment:<br />
  <%=h @url_suspend %></p>

<p>You can see the comment in its context:<br />
  <%= @parent_object_url %></p>

<p>Regards.</p>
<%= render :partial => "/shared_templates/email_footer" %>