<%= render :partial => "/organisms/header" %>
<div class="organismEventContent">
  <%= render :partial => "sub_header" %>
</div>
<% if is_organism_admin?(@organism) %>
  <div class="organismEventContentAction">
    <div class="noEventMessage">
      <h4><%= link_to(t('organism_events.index.Create_new_event'), new_event_path) %></h4>
    </div>
  </div>
<% end %>
<% if @terms.size > 0 %>
  <div class="searchBox">
    <div class="searchBoxBlack">
      <div class="searchBoxWhite">
        <% form_tag organism_events_path, :method => 'get' do %>
          <%= text_field_tag :search, params[:search] %>
          <% if !params[:period].blank? %>
            <%= hidden_field_tag :period, params[:period] %>
          <% end %>
          <%= submit_tag t('organism_events.index.Search'), :name => nil %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<div class="organismEventContentAction">
  <%= render :partial => "/terms/terms_list" %>
</div>


