<%= render :partial => "/organisms/header" %>
<% if is_organism_admin?(@organism) %>
  <h4>CREATE A NEW EVENT NOW!</h4>
  <%= link_to("Let people know about your actions", new_event_path) %>
<% end %>
<div class="searchBox">
  <% form_tag organism_events_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>
<%= render :partial => "/events/events_list" %>
