<%= render :partial => "/shared_templates/email_header" %>
<p>Dear <%=h get_user_name_or_pseudo(@user) %>,</p>

<p>Congratulation, your organism, <%=h @organism.name %>, has been activated.</p>

 <p><%=h @url %></p>
<%= render :partial => "/shared_templates/email_footer" %>
