<%= render :partial => "/shared_templates/email_header" %>
<p>Dear <%=h get_user_name_or_pseudo(@user) %>,</p>

<p>An organism has been created.</p>

<p>
  Name: <%=h @organism.name %><br />
  Manager name: <%=h @organism.manager_name %><br />
  Short description:<br />
  <%=h @organism.description_short %></p>

<p>Visit this url to activate the organism:<br />
<%=h @url %></p>
<%= render :partial => "/shared_templates/email_footer" %>