<%= render :partial => "/shared_templates/email_header" %>
<p>Dear <%=h get_user_name_or_pseudo(@user) %>,</p>

<p>Your organism has been created.</p>

<p>
  Name: <%=h @organism.name %><br />
  Manager name: <%=h @organism.manager_name %><br />
  Short description:<br />
  <%=h @organism.description_short %></p>

<p>You now have to wait until a moderator activate it.</p>

<p>Thanks</p>
<%= render :partial => "/shared_templates/email_footer" %>
