<div class="span-8">
  <div class="box"><%=  display_term_box(@term.start, @term.end) %>

    <% if current_user && @event.is_user_moderator?(current_user) %>
      <br />
      <%= link_to t('events.terms.Edit'), edit_term_path(@term, :event_id=>@event.id) %> |
      <%= link_to t('events.terms.Destroy'), @term, :confirm => t('events.terms.Are_you_sure'), :method => :delete %>
    <% end  %>
  </div>
</div>
<div class="span-9 last">
  <div class="box">

    <% if logged_in? -%>
      <% form_tag :controller => 'participations', :action => 'create_or_update' do %>
        <%=  hidden_field_tag 'term_id', @term.id %>
        <%=  hidden_field_tag 'user_id', current_user.id %>

        <%= t('events.terms.sure') %><%= radio_button :participation, :role,  "sure", :checked => @term.is_user_participant(current_user, 'sure')%>

        <%= t('events.terms.maybe') %><%= radio_button :participation, :role,  "maybe", :checked => @term.is_user_participant(current_user, 'maybe') %>

        <%= t('events.terms.not') %><%= radio_button :participation, :role,  "not", :checked => @term.is_user_participant(current_user, 'not') %>


        <%= submit_tag "Go", :name => nil %>
      <% end  %>
    <% end  %>
    <%= t('events.terms.Participation') %>
    <%= link_to t('events.terms.sure'), participations_path(:term_id => @term.id, :role =>:sure) %>: <%= @term.sure_participants.size %> |
    <%= link_to t('events.terms.maybe'), participations_path(:term_id => @term.id, :role =>:may_be) %>: <%= @term.maybe_participants.size %> |
    <%= link_to t('events.terms.not'), participations_path(:term_id => @term.id, :role =>:not) %>: <%= @term.not_participants.size %>
  </div>
</div>

