<div id="results">
  <% @terms.each do |term| %>
    <% event=term.event %>

    <div class="span-4 colborder" id="event-left">
      <%=  display_term_box(term.start, term.end) %><br />
      <%= display_event_cover(event, :small) %>
    </div>
    <div class="span-12 last" id="event-right">
      <div class="box">
        <h4 class="prepend-5"><%= link_to(event.name, event) %></h4>
        <% if !h(term.description).blank? %>
          <%= term.description %>
        <% else %>
          <%=h event.description_short %>
        <% end %>

        <div class="quiet">
          <%= render :partial => "rating/mini_rating", :locals => { :current_object => event } if event.rating > 0 %>
          <%= link_to('Number of participants: ' + (term.sure_participants.size + term.maybe_participants.size).to_s, event) unless (term.sure_participants.size + term.maybe_participants.size) == 0 %>
          <%= link_to('Number of comments: ' + event.comments.size.to_s, event) unless  event.comments.size == 0 %><br />
        </div>

      </div>
    </div>
    <hr />

  <% end %>
    <% if @terms.size == 0 %>
      <div class="box">
        <h5 class="caps">Currently no events in this category</h5>
      </div>
    <% end %>
  <%= will_paginate @terms %>
</div>
