<div id="results">
  <% if @terms.size > 0 %>
    <div class="listTerm">
      <% @terms.each do |term| %>
        <% event=term.event %>
        <div class="listTermSeparator">
          <div class="kangooDate">
            <% if @the_selected_date %>
              <div class="kangooDayDate"><%= l(@the_selected_date,:format => 'day_number') %></div>
              <div class="kangooMonthDate"><%= l(@the_selected_date,:format => 'only_short_month') %></div>
            <% else %>
              <div class="kangooDayDate"><%= l(term.start_at,:format => 'day_number') %></div>
              <div class="kangooMonthDate"><%= l(term.start_at,:format => 'only_short_month') %></div>
            <% end %>
          </div>


          <div class="listTermRight">
            <div class="listTermRightTitle">
              <h2><%= link_to(event.name, get_event_if_term_url(term)) %></h2>
            </div>

            <div class="listTermRightContent">
              <div class="listTermRightContentLeft">
                <%= display_term_cover(term, :small) %>
              </div>
              <div class="listTermRightContentRight">

                <% if @show_end_date%>
                  <b><%=  display_term_box(term.start_at, term.end_at) %></b>
                <% else %>
                  <b><%=  display_date_box(term.start_at) %></b>
                <% end %>

                <% if !h(term.description).blank? %>
                  <p>
                    <%= term.description %>
                  </p>
                <% else %>
                  <p>
                    <%=h event.description_short %>
                  </p>
                <% end %>

              </div>
            </div>

            <div class="listTermRightBottom">
              <div class="listTermRightBottomLeft">
                <%= render :partial => "rating/mini_rating", :locals => { :current_object => event } if event.rating > 0 %>

              </div>
              <div class="listTermRightBottomRight">
                <p>
                  <%= link_to(t('events.terms.Number_of_participants') + (term.sure_participants.size + term.maybe_participants.size).to_s, event) unless (term.sure_participants.size + term.maybe_participants.size) == 0 %>
                  <%= link_to(t('events.terms.Number_of_comments') + event.comments.size.to_s, event) unless event.comments.size == 0 %>
                </p>
              </div>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if @terms.size == 0 %>
    <div class="noEvent">
      <%= t('events.terms.Currently_no_event_category') %>
    </div>
  <% end %>
  <%= will_paginate @terms, :params => {:anchor => "top" } %>
</div>
