<div class="term box">
<% form_for(@term, :url => url_for_even_polymorphic(@term)) do |f| %>
    <p>
      <%= f.label :start %> <% if !error_message_on(:term, :start).blank? %>(Please check the format of the date and that it's not already past)<% end %><br />
  <%#= term_form.datetime_select :start %>
      <%= f.calendar_date_select :start, :embedded => false,:year_range => [0.years.ago, 2.years.from_now] %>
    </p>
    <p>
      <%= f.label :end %> <% if !error_message_on(:term, :end).blank? %>(Please check the format of the date and that it's not already past)<% end %><br />
  <%#= term_form.datetime_select :end %>
      <%= f.calendar_date_select :end, :embedded => false,:year_range => [0.years.ago, 2.years.from_now] %>
    </p>
    <p>
        <%= error_message_on :term, :description %>
  <%#= term_form.label :description %><br />
      <%= f.text_area :description, :cols => 50, :rows => 7 %>
    </p>
  <%=  hidden_field_tag 'event_id', @event.id %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
</div>