<div id="results">
  <div class="list">
  <% @terms.each do |term| %>
    <% event=term.event %>
    <div class="listSeparator">
      <div class="listLeft">
        <% if @show_end_date%>
          <%=  display_term_box(term.start_at, term.end_at) %>
        <% else %>
          <%=  display_date_box(term.start_at) %>
        <% end %><br />
        <%= display_term_cover(term, :small) %>
      </div>
      <div class="listRight">
        <div class="box">
          <h4><%= link_to(event.name, url_for_even_polymorphic(term)) %></h4>
          <% if !h(term.description).blank? %>
            <%= term.description %>
          <% else %>
            <%=h event.description_short %>
          <% end %>

          <div class="quiet">
            <%= render :partial => "rating/mini_rating", :locals => { :current_object => event } if event.rating > 0 %>
            <%= link_to('Number of participants: ' + (term.sure_participants.size + term.maybe_participants.size).to_s, event) unless (term.sure_participants.size + term.maybe_participants.size) == 0 %>
            <%= link_to('Number of comments: ' + event.comments.size.to_s, event) unless event.comments.size == 0 %><br />
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
  <% if @terms.size == 0 %>
    <div class="noEvent">
      Currently no events in this category
    </div>
  <% end %>
  <%= will_paginate @terms %>
</div>
</div>