 <%= render :partial => "/events/header" %>

<% form_for(@term, :url => url_for_even_polymorphic(@term)) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </p>
  <p>
    <%= f.label :end %><br />
    <%= f.datetime_select :end %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :cols => 50, :rows => 7 %>
  </p>
  <%=  hidden_field_tag 'event_id', @event.id %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>