<div class="titlediary"></div>
<div class="diarybox">

  <% if logged_in? -%>
  <%#= raise get_next_user_participations(ENV['USER_EVENTS_MAX_RESULTS']).size.inspect %>
  <%# PARTICIPATIONS %>
    <% if get_next_user_participations(ENV['USER_EVENTS_MAX_RESULTS']).size>0 %>
                                <!--<h3 class="caps"><%= t("users.meetings") %> (<%= t('next_number', :number =>ENV['USER_EVENTS_MAX_RESULTS']) %>)</h3>-->

      <h4><%= t("users.participations") %> (<%= t('next_number', :number =>get_next_user_participations(ENV['USER_EVENTS_MAX_RESULTS']).size) %>)</h4>
      <hr />
      <% get_next_user_participations(ENV['USER_EVENTS_MAX_RESULTS']).each do |participation| %>
        <% term = participation.term %>
        <div  class="span-2">
          <%= display_event_cover(term.event, "mini") %>
        </div>
        <div  class="span-3 last">
          <%= link_to(term.event.name, term.event) %><br />
          <%= display_date_box(term.start_at) %>
        </div>

        <hr />
      <% end %>
    <% end %>
  <%# Calculating how many events we should display regarding to participations results (we don't want the list to be too long) %>
    <% max_user_organisms_terms = Integer(ENV['USER_EVENTS_MAX_RESULTS']) - get_next_user_participations(ENV['USER_EVENTS_MAX_RESULTS']).size %>


  <%# MY ORGANISMS EVENTS %>
    <% if max_user_organisms_terms> 0 && get_next_user_organisms_terms(max_user_organisms_terms).size>0 %>
   
      <h4><%= t("users.organisms.events") %> (<%= t('next_number', :number =>get_next_user_organisms_terms(max_user_organisms_terms).size) %>)</h4>
      <hr />
      <% get_next_user_organisms_terms(max_user_organisms_terms).each do |term| %>
        <div  class="span-2">
          <%= display_event_cover(term.event, "mini") %>
        </div>
        <div  class="span-3 last">
          <%= link_to(term.event.name, term.event) %><br />
          <%= display_date_box(term.start_at) %>
        </div>

        <hr />
      <% end %>
    <% end %>

  <%# Calculating how many events we should display regarding to participations results  and organisms of user(we don't want the list to be too long) %>
    <% if max_user_organisms_terms && max_user_organisms_terms >0 %>
      <% max_next_terms = max_user_organisms_terms - get_next_user_organisms_terms(max_user_organisms_terms).size %>
    <% else %>
      <% max_next_terms = max_user_organisms_terms %>
    <% end %>

  <% end -%>



<%# TODO: list Friends events %>

<%# NEXT EVENTS %>
  <% if !max_next_terms %><% max_next_terms=Integer(ENV['USER_EVENTS_MAX_RESULTS']) %><% end %>
  <% if max_next_terms> 0 && get_next_events(max_next_terms).size>0 %>
    
    <h4><%= t("terms.next_events_coming") %> (<%= t('next_number', :number =>max_next_terms) %>)</h4>
    <hr />
    <% get_next_events(max_next_terms).each do |term| %>
      <div  class="span-2">
        <%= display_event_cover(term.event, "mini") %>
      </div>
      <div  class="span-3 last">
        <%= link_to(term.event.name, term.event) %><br />
        <%= display_date_box(term.start_at) %>
      </div>

      <hr />
    <% end %>
  <% end %>


</div>

