<div class="userbarbox">
  <% if logged_in? -%>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= display_user_cover(current_user, "mini") %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <% if current_user.facebook_user? %>
      <%= t("users.bar.logged_in_as") %> <%= get_user_name_or_pseudo_link_by_id(current_user.id) %>
      (<a href="#" onclick='FB.Connect.logoutAndRedirect("/logout")'><%= t("users.log_out") %></a>)
    <% else %>
      <%= t("users.bar.logged_in_as") %> <%= link_to_current_user :content_method => :login %>
      (<%= link_to t("users.log_out"), logout_path   %>)
    <% end %>
  <% else -%>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= t('users.bar.classic_account') %>: <%= link_to t("users.login"),  login_path %> /
    <%= link_to t("users.sign_up"), signup_path %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= fb_login_button('window.location = "/facebook";')%>


  <% end -%>
</div>
