<div id="results">
  <% if @users.size>0 %>
  <div class="userList">
    <% @users.each do |user| %>
      <div class="userListBox">
        <div class="userListBoxImage">
          <%= display_user_cover(user, :thumb) %>
        </div>
        <div class="userListBoxName">
          <h4><%= user_profile_link(user) %></h4>
        </div>
        <div class="userListBoxRight">
          <% if logged_in? && @organism -%>
            <% if @organism.is_user_moderator?(current_user) %>
              <% if !@organism.nil?   %>
                <p>
                Donner des autorisations à <%= get_user_name_or_pseudo(user) %> :
                <% if !@organism.admins.include?(user) %>
                   <%= link_to 'Administrateur', { :controller => "members", :action => "create_or_update", :organism_id => @organism.id, :user_id => user.id, :role => :admin }%>
                <% end  %>
                <% if !@organism.moderators.include?(user) %>
                   <%= link_to 'Modérateur', { :controller => "members", :action => "create_or_update", :organism_id => @organism.id, :user_id => user.id, :role => :moderator }%>
                <% end  %>
                <% if !@organism.members.include?(user) %>
                   <%= link_to 'Enlever lui ces droits ', { :controller => "members", :action => "create_or_update", :organism_id => @organism.id, :user_id => user.id, :role => :member }%>
                <% end  %>
                </p>
                <p>
                <%= link_to 'Supprimer cette utilisateur', { :controller => "members", :action => "destroy_relation", :organism_id => @organism.id, :user_id => user.id }%>
                </p>
              <% end  %>
             <% end %>
          <% end -%>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
  <%= will_paginate @users %>
  <% if @users.size == 0 %>
    <div class="userListMessage">
      Sorry, no result
    </div>
   <% end %>
</div>