<div class="facebookPermissions">

  <% if !facebook_session.user.has_permissions?(['email','publish_stream','rsvp_event','create_event'])  %>
    <%  if((current_user.email.nil? or current_user.email=="") and !facebook_session.user.has_permissions?(['email','publish_stream','rsvp_event','create_event'])) %>
      <h3><%= t('users.facebook.step1') %></h3>
    <% else %>
      <h3><%= t('users.facebook.laststep') %></h3>
    <% end %>

    <p>
      <%= t('users.facebook.info') %>
    </p>
    <p>
      <%= t('users.facebook.info2') %>
    </p>
    <p>
      <a href="javascript:ask_fb_permissions();" ><%= t('users.facebook.allow') %></a>
    </p>
  <% end %>

  <% if current_user.email.nil? or current_user.email=="" %>
    <%  if((current_user.email.nil? or current_user.email=="") and !facebook_session.user.has_permissions?(['email','publish_stream','rsvp_event','create_event'])) %>
      <h3><%= t('users.facebook.step2') %></h3>
    <% else %>
      <h3><%= t('users.facebook.laststep') %></h3>
    <% end %>
    <p>
      <%= t('users.facebook.description') %>
    </p>
    <p>
      <%= t('users.facebook.info3') %>
    </p>
    <% form_for(@user, :url => url_for(:id => @user.id, :action => 'save_email')) do |f| %>
      <%= f.error_messages %>

      <p>
        <%= label_tag 'email' %>
      </p>
      <p>
        <%= f.text_field :email %>
      </p>
      <p>
        <%= f.submit 'Update' %>
      </p>
    <% end %>
  <% end %>

</div>