<%= render :partial => "/users/header" %>
<h4>Editing user</h4>
<% if current_user.facebook_user? %>
  You've connected with Facebook, please go on facebook to edit all your information.
  Nevertheless you can edit some specific parameters here
    <% form_for(@user) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :receive_comment_notification %><br />
      <%= f.check_box :receive_comment_notification %>
    </p>
    <p>
      <%= f.label :receive_picture_notification %><br />
      <%= f.check_box :receive_picture_notification %>
    </p>
    <p>
      <%= f.submit 'Update' %>
    </p>
  <% end %>
<% else %>
  <% form_for(@user) do |f| %>
    <%= f.error_messages %>

    <p><%= label_tag 'login' %><br/>
    <%= f.text_field :login %></p>

    <p><%= label_tag 'first name' %><br/>
    <%= f.text_field :first_name %></p>

    <p><%= label_tag 'last name' %><br/>
    <%= f.text_field :last_name %></p>

    <p><%= label_tag 'birth date' %><br/>
    <%= f.date_select(:date_of_birth, :start_year => 1900, :end_year => 2005, :default => 15.years.ago) %></p>

    <p><%= label_tag 'email' %><br/>
    <%= f.text_field :email %></p>
    <p>
      <%= f.label :receive_comment_notification %><br />
      <%= f.check_box :receive_comment_notification %>
    </p>
    <p>
      <%= f.label :receive_picture_notification %><br />
      <%= f.check_box :receive_picture_notification %>
    </p>
    <p>
      <%= f.submit 'Update' %>
    </p>
  <% end %>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
