<h1><%= t('users.new.Sign_up_new_user') %></h1>
<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>
<% form_for(@user) do |f| -%>
<p><%= label_tag t('users.new.Login') %><br/>
<%= f.text_field :login %></p>

<p><%= label_tag t('users.new.First_name') %><br/>
<%= f.text_field :first_name %></p>

<p><%= label_tag t('users.new.Last_name') %><br/>
<%= f.text_field :last_name %></p>

<p><%= label_tag t('users.new.Birth_date') %><br/>
<%= f.date_select(:date_of_birth, :start_year => 1900, :end_year => 2005, :default => 15.years.ago) %></p>

<p><%= label_tag t('users.new.Email') %><br/>
<%= f.text_field :email %></p>

<p><%= label_tag t('users.new.Password') %><br/>
<%= f.password_field :password %></p>

<p><%= label_tag 'password_confirmation', t('users.new.Password_confirmation') %><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= submit_tag t('users.new.Sign_up') %></p>
<% end -%>

<p><%= t('users.new.Or_Facebook_connect') %></p>
<%= fb_login_button('window.location = "/facebook";')%>

