<div class="titlecreeruncompte"></div>
<%#*<h1>%>
<%#= t('users.new.Sign_up_new_user') %>
<%#*</h1>%>

<div class="newAccountBody">
  <% @user.password = @user.password_confirmation = nil %>

  <%= error_messages_for :user %>
  <% form_for(@user) do |f| -%>
    <div class="newAccountBodyLeft">
      <p><%= label_tag t('users.new.Login') %></p>
    </div>
    <div class="newAccountBodyRight">
      <p><%= f.text_field :login %></p>
    </div>

    <div class="newAccountBodyLeft">
      <p><%= label_tag t('users.new.First_name') %></p>
    </div>
    <div class="newAccountBodyRight">
      <p><%= f.text_field :first_name %></p>
    </div>

    <div class="newAccountBodyLeft">
      <p><%= label_tag t('users.new.Last_name') %></p>
    </div>
    <div class="newAccountBodyRight">
      <p><%= f.text_field :last_name %></p>
    </div>

    <div class="newAccountBodyLeft">
      <p><%= label_tag t('users.new.Birth_date') %></p>
    </div>
    <div class="newAccountBodyRight">
      <p><%= f.date_select(:date_of_birth, :start_year => 1900, :end_year => 2005, :default => 15.years.ago) %></p>
    </div>

    <div class="newAccountBodyLeft">
      <p><%= label_tag t('users.new.Email') %></p>
    </div>
    <div class="newAccountBodyRight">
      <p><%= f.text_field :email %></p>
    </div>

    <div class="newAccountBodyLeft">
      <p><%= label_tag t('users.new.Password') %></p>
    </div>
    <div class="newAccountBodyRight">
      <p><%= f.password_field :password %></p>
    </div>

    <div class="newAccountBodyLeft">
      <p><%= label_tag 'password_confirmation', t('users.new.Password_confirmation') %></p>
    </div>
    <div class="newAccountBodyRight">
      <p><%= f.password_field :password_confirmation %></p>
    </div>




    <div class="newAccountBodyLeft">
       <p><%= t('users.new.Accept_conditions') %> </p>
    </div>
    <div class="newAccountBodyRight">
      <textarea rows="10" cols="40">Charte d'utilisation LeBounce :

R&egrave;gles importantes pour un climat agr&eacute;able dans la communaut&eacute; LeBounce :
Sur lebounce.com, beaucoup de personnes sont vou&eacute;es &agrave; se rencontrer, ces personnes peuvent avoir des centres d'int&eacute;r&ecirc;ts diff&eacute;rents. Ainsi, certaines r&egrave;gles sont n&eacute;cessaires afin de pr&eacute;server une ambiance agr&eacute;able. En vous inscrivant en tant que membres, vous devez consentir &agrave; respecter le r&egrave;glement suivant.

R&egrave;glement LeBounce

Les commentaires :
Les commentaires seront post&eacute;s sur les images et les &eacute;v&egrave;nements, il est important de respecter les r&egrave;gles suivantes :
Le langage SMS ne sera pas admis sur le site
Ne pas traiter les autres d'une façon qui te d&eacute;plairait
Ne pas traiter les autres d'une façon qui te d&eacute;plairait :
Pas d'insulte ou d'attaque envers quiconque
Pas de discrimination due au sexe, aux opinions politiques ou religieuses
Pas de r&eacute;flexions racistes
Pas de commentaire d&eacute;pr&eacute;ciatif sur le physique des personnes
Pas de menace ni de harc&egrave;lement (vous pouvez contacter un administrateur)
Pas de publicit&eacute; ni de spam :
Pas de r&eacute;p&eacute;tition sans raison de mots ou de phrases
Pas de publicit&eacute; pour des produits ou des sites Internet
Pas de dires immoraux qui vont &agrave; l'encontre des lois.
Pas de proposition de casting, LeBounce n'est pas une agence
Pas de proposition d'argent en &eacute;change de sexe
Pas de glorification de la drogue
Pas de repr&eacute;sentations pornographiques

Les photos :
Les photos suivantes ne seront pas admises sur le site :
Photos obsc&egrave;nes (caract&egrave;re pornographique)
Symbole politique extr&eacute;miste (comme la croix gamm&eacute;e)
Les personnes publiant les photos prennent la responsabilit&eacute; de celles-ci
En cas de m&eacute;contentement d'une personne ou d'un organisme contacter en premier lieu le propri&eacute;taire de la galerie et dans le pire des cas, l'administrateur.
Les comptes utilisateur
Un utilisateur peut avoir un et un seul compte par personne
Les informations doivent &ecirc;tre exactes ou les champs vides
</textarea>
    </div>

    <%#*<div class="newAccountBodyRight">%>
      <%#= check_box :user, :terms_of_service %>
      <%#= f.check_box(:terms_of_service, {}, "yes", "no") %>
      <%#= check_box_tag("terms_of_service") %>
    <%#*</div>%>

    <div class="newAccountBodyCenter">
      <p><%= submit_tag t('users.new.Sign_up') %></p>
    </div>

  <% end -%>
  <div class="newAccountBodyCenter">
    <p><%= t('users.new.Or_Facebook_connect') %></p>
  </div>
  <div class="newAccountBodyCenter">
    <p><%= fb_login_button('window.location = "/facebook";')%></p>
  </div>
</div>