<%= render :partial => "/users/header" %>
<div class="userShowBody">
  <% if @user.facebook_user? %>
    <div class="userShowBodyLeft">
      <%= display_user_cover(@user, "large") %>
    </div>
  <% else %>
    <% if @user.picture.nil? %>
      <div class="userShowBodyLeft">
        <%= display_user_cover(@user, :medium) %>
        <% if current_user && current_user_equal(@user) %>

          <%= link_to(t('users.content.Attach_picture'), new_url_for_even_polymorphic(@user, :picture)) %>

        <% end %>
      </div>
    <% else %>
      <div class="userShowBodyLeft">
        <%= link_to(image_tag(@user.picture.attached.url(:medium)), url_for_even_polymorphic(@user.picture))  %>
        <% if current_user && current_user_equal(@user) %>

          <%= link_to(t('users.content.Change_image'), new_url_for_even_polymorphic(@user, :picture)) %>

        <% end %>
      </div>
    <% end %>
  <% end %>
  <div class="userShowBodyRight">
    <p>
      <%= @user.first_name %>
      <%= @user.last_name %>
    </p>
    <p>
      <%= t('users.show.Create_account') %>
      <%= @user.created_at %>
    </p>
    <% if current_user_equal(@user) %>
      <p>
        <%#= link_to(t('users.show.meet_friends'), new_event_path(:type => 'user_event')) %>
      </p>
      <p>
        <%= link_to(t('organism_events.index.Create_new_event'), new_event_path) %>
      </p>
      <p>
        <%= link_to(t('users.show.new_organism'), new_organism_path) %>
      </p>
    <% end %>
  </div>
</div>
