<%= render :partial => "/users/header" %>

<% if facebook_session %>

  <h2> <%= @user.first_name %> <%= @user.last_name %></h2>
  <%= display_user_cover(@user, "large") %>
  <h4 class="caps">LAST STATUS:</h4>
  <div class ="box">
    <%= @to_display_fb_user.status.message %> <fb:time t='<%= @to_display_fb_user.status.time %>' preposition="true" ></fb:time>
  </div>

<% else %>


  <h2><%= @user.login %></h2>
  <%= display_user_cover(@user, "medium") %>


  <br />(This user has a limited profile because he didn't connect through Facebook)
<% end %>

