<%= render :partial => "/users/header" %>
<div class="userShowBody">
  <% if @user.facebook_user? %>
    <div class="userShowBodyLeft">
      <%= display_user_cover(@user, "large") %>
    </div>
  <% else %>
    <div class="userShowBodyLeft">
      <%= display_user_cover(@user, "medium") %>
      <%= t('users.show.Limited_profile') %>
    </div>

  <% end %>
  <div class="userShowBodyRight">
    <p>
      <%= @user.first_name %>
      <%= @user.last_name %>
    </p>
    <p>
      t('users.show.Create_account')
      <%= @user.created_at %>
    </p>
    <% if current_user_equal(@user) %>
    <p>
      <%= link_to(t('users.show.meet_friends'), new_event_path(:type => 'user_event')) %>
    </p>
    <p>
      <%= link_to(t('users.show.new_organism'), new_organism_path) %>
    </p>
    <% end %>
  </div>
</div>
