<% if @event.contributions.size > 0 %>
  <div class="contributionsBar">
    <% if @event.places.size > 0 %>
      <% @event.places.each do |@organism| %>
        <div class="contributionBarBox">
          <b>Place</b>
          <%= display_organism_cover(@organism, :thumb) %>
          <%= link_to(@organism.name, url_for(organism_path(@organism))) %>
        <% end %>
      </div>
    <% end %>

    <% if @event.publishers.size > 0 %>

      <% @event.publishers.each do |@organism| %>
        <div class="contributionBarBox">
          <b>Publisher</b>
          <%= display_organism_cover(@organism, :thumb) %>
          <%= link_to(@organism.name, url_for(organism_path(@organism))) %>
        </div>
      <% end %>

    <% end %>

    <% if @event.organizers.size > 0 %>


      <% @event.organizers.each do |@organism| %>
        <div class="contributionBarBox">
          <b>Organizer</b>
          <%= display_organism_cover(@organism, :thumb) %>
          <%= link_to(@organism.name, url_for(organism_path(@organism))) %>
        </div>
      <% end %>

    <% end %>
    <% if @event.partners.size > 0 %>

      <% @event.partners.each do |@organism| %>

        <div class="contributionBarBox">
          <b>Partner</b>
          <%= display_organism_cover(@organism, :thumb) %>
          <%= link_to(@organism.name, url_for(organism_path(@organism))) %>
        </div>
      <% end %>

    <% end %>

  </div>
<%  end %>