<%= render :partial => "/events/header" %>
<div class="eventShowBody">
  <div class="eventShowBodyLeft">
    <% if @event.picture.nil? %>
      <%= get_default_event_picture(:medium) %>
      <% if current_user && @event.is_user_moderator?(current_user) %>
        <div class="eventShowBodyLeftContent">
          <%= link_to("Attach a picture !", new_url_for_even_polymorphic(@event, :picture)) %>
        </div>
      <% end %>
    <% else %>
      <%= link_to(image_tag(@event.picture.attached.url(:medium)), url_for_even_polymorphic(@event.picture))  %>
      <% if current_user && @event.is_user_moderator?(current_user) %>
        <div class="eventShowBodyLeftContent">
          <%= link_to("Change the image", new_url_for_even_polymorphic(@event, :picture)) %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="eventShowBodyRight">
    <% if @term %>
      <b> <%=  display_term_box(@term.start_at, @term.end_at) %> </b>

      <%= render :partial => "/event_terms/term" %>
    <% end %>
    <% if !get_event_place_as_string(@event).blank? %>
    <p>
      <b>Place</b>:
      <%= link_to(get_event_place_as_string(@event), event_maps_path(@event)) %>
    </p>
    <% end %>
    <% if current_user && @event.is_granted_to_edit?(current_user) %>
      <p>
        <b>Is charged:</b>
        <%=h boolean_to_literal(@event.is_charged) %>
      </p>
      <p>
        <b>Is private:</b>
        <%=h boolean_to_literal(@event.is_private) %>
      </p>
    <% end %>
    <p>
      <b>Categories:</b>
      <%= displayable_categories_links(@event) %>
    </p>
    <script type="text/javascript">
      var addthis_config = {
                services_compact: 'email, facebook, twitter,live, hotmail, gmail, favorites, myspace, blogger, bloggy, yahoomail, print, printfriendly, pdfonline, more',
                services_exclude: 'print'
      }
    </script>
    <!-- AddThis Button BEGIN -->

    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pub=lebounce"></script>
    <!-- AddThis Button END -->

    </ br>

    <a href="http://www.addthis.com/bookmark.php?v=250&amp;pub=lebounce"
        class="addthis_button"><img
        src="http://s7.addthis.com/static/btn/v2/lg-share-fr.gif"
        width="125" height="16" border="0" alt="Share" /></a>
  </div>
</div>
<% if get_event_description_short_or_term_description %>
  <div class="titledescription"></div>
  <div class="eventShowBodyMiddle">
    <p>
      <%= get_event_description_short_or_term_description %>
      <% if !@event.description_long.blank? %>
      
      <%=   link_to_function("Show me more...", nil, :id => "more_link") do |page|
        page.visual_effect(:toggle_blind, 'description_long')
        page << "if ($('description_long').getStyle('display')=='none'){"
          page.replace_html(:more_link,"Show me less...")
        page << "}else{"
          page.replace_html(:more_link,"Show me more...")
        page << "}"
      end %>
      <% end %>
    </p>
  </div>
<% end %>
<% if !@event.description_long.blank? %>
  
  <div class="eventShowBodyMiddle" id="description_long" style="display:none;">
    <p><%= @event.description_long %><br/>
          <%=   link_to_function("Show me less...", nil, :id => "more_link") do |page|
        page.visual_effect(:toggle_blind, 'description_long')
        page << "if ($('description_long').getStyle('display')=='none'){"
          page.replace_html(:more_link,"Show me less...")
        page << "}else{"
          page.replace_html(:more_link,"Show me more...")
        page << "}"
      end %>
    </p>
  </div>
<% end %>


<% if @event.contributions.size > 0 %>
  <div class="eventShowBodyCenter">
      <% if @event.places.size > 0 %>
        <div class="eventShowBodyCenterLeft">
          <div class="titleorganisateurs"></div>
          <div class="eventShowBodyCenterLeftContent">
            <% @event.places.each do |@organism| %>
              <div class="eventShowBodyCenterContentLeft">
                <%= display_organism_cover(@organism, :thumb) %>
              </div>
              <div class="eventShowBodyCenterContentRight">
                <%= link_to(@organism.name, url_for(organism_path(@organism))) %>
              </div>
            <% end %>
           </div>
        </div>
      <% end %>

      <% if @event.publishers.size > 0 %>
        <div class="eventShowBodyCenterRight">
          <div class="titleorganisateurs"></div>
          <div class="eventShowBodyCenterRightContent">
            <% @event.publishers.each do |@organism| %>
              <div class="eventShowBodyCenterContentLeft">
                <%= display_organism_cover(@organism, :thumb) %>
              </div>
              <div class="eventShowBodyCenterContentRight">
                <%= link_to(@organism.name, url_for(organism_path(@organism))) %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
   
  </div>
<% end %>


<%= render :partial => "/galleries/galleries_bar" %>

<div class="titlecomment"></div>
<div class="eventShowBodyCommentaire">
  <%= render :partial => "/comments/form" %>
  <%= render :partial => "/comments/list" %>
</div>


<%= render :partial => "/events/contributions_bar" %>

