<div class="term box">
  <% fields_for_term(term) do |term_form| %>
    <% @term = term %>
    <p>
      <%= term_form.label :start_at %> <% if !error_message_on(:term, :start_at).blank? %>(Please check the format of the date and that it's not already past)<% end %><br />
  <%#= term_form.datetime_select :start %>
      
      <%= term_form.calendar_date_select :start_at, :embedded => false,:year_range => [0.years.ago, 2.years.from_now], :time => false, :buttons => false, :onchange => "event_copy_start_date_to_end_date($F(this));", :maxlength => 10, :size => 10 %>
      <%= term_form.text_field :start_hour, :size => 2, :maxlength => 2 %>:<%= term_form.text_field :start_min, :size => 2, :maxlength => 2 %>
    </p>
    <p>
      <%= term_form.label :end_at %> <% if !error_message_on(:term, :end_at).blank? %>(Please check the format of the date and that it's not already past)<% end %><br />
  <%#= term_form.datetime_select :end %>
      <%= term_form.calendar_date_select :end_at, :embedded => false,:year_range => [0.years.ago, 2.years.from_now], :time => false, :buttons => false, :maxlength => 10, :size => 10 %>
      <%= term_form.text_field :end_hour, :size => 2, :maxlength => 2 %>:<%= term_form.text_field :end_min, :size => 2, :maxlength => 2 %>
    </p>
    <%#= hidden_field(:term, :description) %>
    <%#= hidden_field( :term, :description => '' )%>
    <%#= hidden_field_tag 'event[new_term_attributes][][start]', '' %>
    <p>


        <%#= error_message_on :term, :description %>
  <%#= term_form.text_field :description %><br />
      <%#= fckeditor_textarea(:term, :description, :toolbarSet => 'Simple', :width => '100%', :height => '400px') %>
    </p>

      <% if  action_name == 'edit' %>
    <%= error_message_on :term, :description %>
    <%= term_form.text_area :description, :cols => 35, :rows => 5 %>
    <% end %>
    <p>
      <%= link_to_function t('events.term.Remove'), "$(this).up('.term').remove()" %>
    </p>

  <% end %>
</div>