<% @event.terms.each do |@term| %>
  <div class="span-8">
    <div class="box"><%=  display_term_box(@term.start, @term.end) %>


      <% if facebook_session %>
        <br />
        <% if @term.facebook_eid %>
          <%= link_to 'See on Facebook', "http://www.facebook.com/event.php?eid=#{@term.facebook_eid}", :target => 'blank' %>
          <% if current_user && current_user.facebook_user? && facebook_session && @event.is_user_moderator?(current_user) %>
            (<%= link_to 'Delete the Facebook page', url_for(:controller => 'facebook', :id =>@term.id, :action => 'ask_facebook_event_cancel_message') %> )
          <% end  %>
        <% else %>
          <%= link_to 'Publish on Facebook', url_for(:controller => 'facebook', :id =>@term.id, :action => 'ask_facebook_event_categories') %>
        <% end %>
      <% else %>
        <% if @term.facebook_eid %>
          <br />
          <%= link_to 'See on Facebook', url_for(login_path) %>
        <% end  %>
      <% end %>
      <% if current_user && @event.is_user_moderator?(current_user) %>
        <br />
        <%= link_to 'Edit', edit_url_for_even_polymorphic(@term) %> |
        <%= link_to 'Destroy', @term, :confirm => 'Are you sure?', :method => :delete %>
      <% end  %>
    </div>
  </div>
  <div class="span-9 last">
    <div class="box">

      <% if logged_in? -%>
        <% form_tag :controller => 'participations', :action => 'create_or_update' do %>
          <%=  hidden_field_tag 'term_id', @term.id %>
          <%=  hidden_field_tag 'user_id', current_user.id %>

          I'll be there<%= radio_button :participation, :role, "sure", :checked => @term.is_user_participant(current_user, 'sure')%>

          May be<%= radio_button :participation, :role, "maybe", :checked => @term.is_user_participant(current_user, 'maybe') %>

          I won't<%= radio_button :participation, :role, "not", :checked => @term.is_user_participant(current_user, 'not') %>


          <%= submit_tag "Go", :name => nil %>
        <% end  %>
      <% end  %>
      Participation:
      <% if @term.sure_participants.size> 0 %><%= link_to "sure", term_participations_path(:term_id => @term.id, :role =>:sure) %>: <%= @term.sure_participants.size %><% else %>sure: 0<% end %> |
      <% if @term.maybe_participants.size> 0 %><%= link_to "may be", term_participations_path(:term_id => @term.id, :role =>:may_be) %>: <%= @term.maybe_participants.size %><% else %>maybe: 0<% end %> |
      <% if @term.not_participants.size> 0 %><%= link_to "no", term_participations_path(:term_id => @term.id, :role =>:not) %>: <%= @term.not_participants.size %><% else %>no: 0<% end %>


    </div>
  </div>

  <hr />
<% end %>
