<%= render :partial => "/events/sub_header" %>
<% form_for(@event, :live_validations => true) do |f| %>
  <% @auto_complete_count = 0 %>
  <%= hidden_field_tag "only_details", params[:only_details] %>
  <div class="eventEditBody">

    <%= f.error_messages %>

    <% if params[:only_details] && params[:only_details] = true %>
      <div class="eventNewBodyCenter">
        <h3><%= t("events.edit.Only_details_title") %></h3>
        <p>
          <%= t("events.edit.Only_details_intro") %>
        </p>
      </div>
      <div class="eventEditBodyCenter">
        <%= f.submit t('events.edit.Jump') %>
      </div>

    <% end %>
    <% if params[:only_details].blank? || params[:only_details] == false %>
    <div class="eventEditBodyLeft">
      <% if @event.picture.nil? %>
        <%= get_default_event_picture(@event, :medium) %>
        <div class="eventEditBodyLeftContent">
          <%= link_to(t('events.edit.Attach_picture'), new_url_for_even_polymorphic(@event, :picture)) %>
        </div>
      <% else %>
        <%= link_to(image_tag(@event.picture.attached.url(:medium)), url_for_even_polymorphic(@event.picture))  %>
        <div class="eventEditBodyLeftContent">
          <%= link_to(t('events.edit.Change_image'), new_url_for_even_polymorphic(@event, :picture)) %>
        </div>
      <% end %>
    </div>
    <% end %>
    <% if params[:only_details].blank? || params[:only_details] == false %>
      <div class="eventEditBodyRight">
        <h3><%= t('events.edit.Title')  %></h3>
        <%= f.text_field :name, :class => 'title'%>
      </div>
    <% end %>
    <% if params[:only_details].blank? || params[:only_details] == false %>
      <div class="eventEditBodyCenter">
        <p>
          <%=t('events.edit.Is_charged')  %>
          <%= f.check_box :is_charged %>
        </p>
        <p>
          <%= t('events.edit.Is_private') %>
          <%= f.check_box :is_private %>
        </p>
      </div>
    <% end %>

    <div class="eventEditBodyCenter">
      <h3><%= t('events.edit.Categories') %></h3>
      <%=  swapselect :event,
        @event,
        :categories,
        categories_to_display.map{ |category| [category.name.gsub(/[']/, '\\\\\''), category.id] }, :size => 7
    %>
    </div>

    <div class="eventEditBodyCenter">
      <h3><%= t('events.edit.Description') %></h3>
      <%= fckeditor_textarea(:event, :description_long, :toolbarSet => 'Simple', :width => '100%', :height => '400px') %>
    </div>

    <div class="eventEditBodyCenter">
      <h3><%= t('events.edit.Adress') %></h3>
      <div class="eventEditBodyCenterLeft">
        <p>
          <%= t('events.edit.Location') %>
        </p>
      </div>
      <div class="eventEditBodyCenterRight">
  <%#= collection_select :contributions,
  :place_ids,
  Organism.find_all_by_state('active', :order =>'name'),
  :id, :name,{ :selected => @event.get_first_place, :include_blank => true},
  { :multiple => false, :class => 'textField' } -%>
  <%#= text_field_with_auto_complete :organism, :organism_place_name, {}, {:method => :get}  %>

  <%#= text_field_with_auto_complete :event, :organism_place_name, {  }, { :url => formatted_list_organisms_path(:js), :method => :get, :param_name => 'search' } %>
  
  <%= f.text_field_with_auto_complete :organism_place_name, { :class => 'textField'}, {:url => formatted_list_organisms_path(:js), :method => :get, :param_name => 'search', :skip_style => true, :indicator => 'contribution-spinner-'+String(@auto_complete_count+1), :after_update_element => "function(element, value){$('event-place-info').hide();} "}%>
        <div class="contribution-spinner" id="contribution-spinner-<%= @auto_complete_count +=1  %>" style="display:none;">
          <!--<img id ="yop" src="/images/spinner.gif" alt="Refreshing calendar" />-->
          <%= image_tag "spinner.gif", :class => "image", :alt => "loading form" %>
        </div>
      </div>
      <div id="event-place-info">
        <div class="eventEditBodyCenter">
          <div class="eventEditBodyCenterLeft">
            <p>
              <%= t('events.edit.Street') %>
            </p>
          </div>
          <div class="eventEditBodyCenterRight">
            <%= f.text_field :street, :class => 'textField' %>
          </div>
        </div>
        <div class="eventEditBodyCenter">
          <div class="eventEditBodyCenterLeft">
            <p>
              <%= t('events.edit.Town') %>
            </p>
          </div>
          <div class="eventEditBodyCenterRight">
            <%= f.text_field :city, :class => 'textField' %>
          </div>
        </div>
      </div>

      <% if current_user.is_admin_or_moderator_of.size>0 or current_user.has_system_role("moderator") %>
        <div class="eventEditBodyCenter">
          <h3><%= t('events.edit.Publisher') %></h3>
    <%# if get_list_organism_rights_user(current_user).size > 1 %>
          <div class="eventEditBodyCenterRight">
            <%= collection_select :contributions,
              :publisher_ids,
              get_list_organism_rights_user(current_user),
              :id, :name,{ :selected => @event.get_first_publisher, :include_blank => false },
              { :multiple => false, :class => 'textField' } -%>
          </div>

    <%# elsif get_list_organism_rights_user(current_user).size == 1 %>
    <%#= get_list_organism_rights_user(current_user).first.name %>
    <%# end %>
        </div>
      </div>
      <div class="eventEditBodyCenter">
        <h3><%= t('events.edit.Organizers') %></h3>
        <div class="eventEditBodyCenterLeft">

        </div>
        <div class="eventEditBodyCenterRight">
          <div id="organizers">
            <%= render :partial => 'organizer', :collection => @organizers %>
          </div>
        </div>



      </div>
      <div class="eventEditBodyCenter">
        <%= add_organizer_link t('events.edit.add_organizer') %>
      </div>
      <div class="eventEditBodyCenter">
        <h3><%= t('events.edit.Partners') %></h3>
        <div class="eventEditBodyCenterLeft">

        </div>
        <div class="eventEditBodyCenterRight">
          <div id="partners">
            <%= render :partial => 'partner', :collection => @partners %>
          </div>
        </div>
      </div>
      <div class="eventEditBodyCenter">
        <%= add_partner_link t('events.edit.add_partner') %>
      </div>
    <% end %>
    <% if params[:only_details].blank? || params[:only_details] == false %>
      <div class="eventEditBodyCenter">
        <h3><%= t('events.edit.Date') %></h3>
      </div>

      <div id="terms">
        <%= render :partial => 'term', :collection => @event.terms %>
      </div>
      <div class="eventEditBodyCenter">
        <%= add_term_link t('events.edit.add_term') %>
      </div>
    <% end %>
    <div class="eventEditBodyCenter">
      <%= f.submit t('events.edit.Update') %>
    </div>
  <% end %>
  <%= hidden_field_tag "auto_complete_count", "0" %>
</div>