<h1>New event</h1>

<% form_for(@event, :live_validations => true) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => 'title' %>
  </p>
  <p>
    <%= f.label :description_short %><br />
    <%= f.text_area :description_short, :cols => 35, :rows => 5 %>
  </p>
  <% if params[:type] != 'user_event' %>
    <div class="box">
      Publisher: <br />
      <%= collection_select :contributions,
        :publisher_ids,
        get_list_organism_rights_user(current_user),
        :id, :name,{ :selected => get_list_organism_rights_user(current_user).first, :include_blank => false },
        { :multiple => false } -%>
    </div>
  <% end %>
  <%= hidden_field_tag('type', params[:type]) %>

  
  <div id="terms">
    <%= render :partial => 'term', :collection => @event.terms %>
  </div>
  <p><%= add_term_link "Add a term" %></p>


  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', events_path %>
