<div class="titledescription"></div>

<div class="eventNewBody">
  <div class="eventNewBodyCenter">
    <h4><%= t('events.new.Step1') %></h4>
  </div>

  <% form_for(@event, :live_validations => true) do |f| %>
    <%= f.error_messages %>
    <div class="eventNewBodyCenter">
      <div class="eventNewBodyCenterLeft">
        <h3><%= t('events.new.Title') %></h3>
      </div>
      <div class="eventNewBodyCenterRight">
        <%= f.text_field :name, :class => 'textFieldNew' %>
      </div>
    </div>

    <div class="eventEditBodyCenter">
      <p>
        <%=t('events.edit.Is_charged')  %>
        <%= f.check_box :is_charged %>
      </p>
      <p>
        <%= t('events.edit.Is_private') %>
        <%= f.check_box :is_private %>
      </p>
    </div>



    <% if params[:type] != 'user_event' %>
      <div class="eventNewBodyCenter">
        <div class="eventNewBodyCenterLeft">
          <h3><%= t('events.new.Publisher') %></h3>
        </div>
        <div class="eventNewBodyCenterRight">
          <%= collection_select :contributions,
            :publisher_ids,
            get_list_organism_rights_user(current_user),
            :id, :name,{ :selected => get_list_organism_rights_user(current_user).first, :include_blank => false },
            { :multiple => false, :class => 'textFieldNew'} -%>
        </div>
      </div>
    <% end %>


    <%= hidden_field_tag('type', params[:type]) %>

    <%= calendar_date_select_includes nil,:locale=>'fr' %>

    <div id="terms">
      <%= render :partial => 'term', :collection => @event.terms %>
    </div>

    <div class="eventNewBodyCenter">
      <%= add_term_link t('events.new.Add_term') %>
    </div>


    <div class="eventNewBodyCenter">
      <%= f.submit t('events.new.Create') %>
    </div>
  <% end %>
</div>