<%= render :partial => "/events/header" %>

<% form_tag share_event_path(:event_id => @event.id), :method => 'get' do %>
  <p>
  <%#=  hidden_field_tag 'role', params[:role] %>

    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag t('events.share.Search'), :name => nil %>
  </p>
<% end %>
<hr />
<p><%= t('events.share.Tick_users') %></p>

<% form_tag(url_for(:controller => 'events', :action => 'do_share', :id => @event.id), :method => :put) do %>
  <%#= f.error_messages %>

  <%= render :partial => "/users/mini_users_list" %>


  <div>
    <div class="label"><%= t('events.share.Subject') %></div>
    <%= text_field_tag :subject, @event.name, :class => 'title' %>
  </div>
  <div>
    <div class="label"><%= t('events.share.Body') %></div>
    <%= text_area_tag :body, @message_body, :cols => 70, :rows => 10 %>
  </div>

  <%= submit_tag t('.share.Send_event') %>
  <% end %>