<%= render :partial => "/events/header" %>
<div class="span-8 colborder">
  <div class="box">
    <% if @event.picture.nil? %>
      <%= get_default_event_picture(:medium) %><br />
      <%= link_to("Attach a picture !", new_url_for_even_polymorphic(@event, :picture)) %>
    <% else %>
      <%= link_to(image_tag(@event.picture.attached.url(:medium)), url_for_even_polymorphic(@event.picture))  %><br />
      <%= link_to("Change the image", new_url_for_even_polymorphic(@event, :picture)) %>
    <% end %>
  </div>
</div>
<div class="span-8 last">
  <div class="box">
    <%=h @event.description_short %>
  </div>
  <div class="box">
    <% if current_user && @event.is_granted_to_edit?(current_user) %>
    <b>Is charged:</b>
    <%=h boolean_to_literal(@event.is_charged) %><br />
    <b>Is private:</b>
    <%=h boolean_to_literal(@event.is_private) %><br />
    <% end %>
    <b>Categories:</b>
    <% @event.categories.each do |@category| %>
      <%= link_to(@category.name, url_for(category_path(@category))) %>&nbsp;
    <% end %>
  </div>
</div>

<% if @event.description_long && @event.description_long!='' %>
  <hr />
  <div class="box">
    <div class="whitebox">
      <%= @event.description_long %>
    </div>
  </div>
<% end %>

<%= render :partial => "contributions" %>
<hr />
<div class="span-13"><h4 class="caps">DATE(S)</h4></div>
<% if current_user && @event.is_granted_to_edit?(current_user) %>
<div class="span-4 last"><%= link_to('New term', new_url_for_even_polymorphic(@event, :term)) %></div>
<% end %>
<hr />
<%= render :partial => "terms" %>

<% if @event.list_participants.size>0 %>
  <div class="span-4 colborder">
    <h4 class="caps">LAST PARTICIPANTS</h4>

  </div>
  <div class="span-12 last">
    <% @event.list_participants[0,4].each do |user| %>
      <div class="span-3">
        <div class="box">
          <%= display_user_cover(user, :thumb) %><br />
          <%= get_user_name_or_pseudo_link(user) %>
        </div>
      </div>
    <% end %>
  </div>
  <hr />
<% end %>
<%= render :partial => "/galleries/galleries_bar" %>


<h4 class="caps">COMMENTS</h4>
<%= render :partial => "/comments/list" %>
<%= render :partial => "/comments/form" %>

<hr />