<%= render :partial => "/events/header" %>

<p>We noticed that this event also exists on Facebook.<br />
  In order to change your status on Facebook, we need your acceptance<br />
  <%= fb_prompt_permissions(['rsvp_event'], 'Please, click on this link to proceed') %>...
</p>


<p>Then, you can try again</p>
<% form_tag :controller => 'participations', :action => 'create_or_update' do %>
  <%=  hidden_field_tag 'term_id', @term.id %>
  <%=  hidden_field_tag 'user_id', current_user.id %>

  I'll be there<%= radio_button :participation, :role, "sure", :checked => @term.is_user_participant(current_user, 'sure')%>

  May be<%= radio_button :participation, :role, "maybe", :checked => @term.is_user_participant(current_user, 'maybe') %>

  I won't<%= radio_button :participation, :role, "not", :checked => @term.is_user_participant(current_user, 'not') %>


  <%= submit_tag "Go", :name => nil %>
<% end %>

