<%= render :partial => "/events/header" %>
<p>
  <%= t('facebook.ask_facebook_event_categories.Summary') %>
</p>

<div>
  <%=  display_term_box(@term.start_at, @term.end_at) %>
</div>

<% form_for(@term, :url => url_for(:controller => 'facebook', :action => 'create_event', :id => @term.id)) do |f| %>
  <%= f.error_messages %>

  <p>
    <b><%= t('facebook.ask_facebook_event_categories.Category') %></b><br />
    <%= select_tag "category", "
      <option value='1'>" + t('facebook.ask_facebook_event_categories.Party')+"</option>
      <option value='2'>" + t('facebook.ask_facebook_event_categories.Causes')+"</option>
      <option value='3'>" + t('facebook.ask_facebook_event_categories.Education')+"</option>
      <option value='4'>" + t('facebook.ask_facebook_event_categories.Meetings')+"</option>
      <option value='5'>" + t('facebook.ask_facebook_event_categories.Music_arts')+"</option>
      <option value='6'>" + t('facebook.ask_facebook_event_categories.Sports')+"</option>
      <option value='7'>" + t('facebook.ask_facebook_event_categories.Trips')+"</option>
      <option value='8'>" + t('facebook.ask_facebook_event_categories.Other')+"</option>" %>
  </p>

    <p>
    <b>Sub-category</b><br />
    <%= select_tag "subcategory",
      "<option value='1'>" + t('facebook.ask_facebook_event_categories.Birthday_party')+"</option>
      <option value='2'>" + t('facebook.ask_facebook_event_categories.Cocktail_party ')+"</option>
      <option value='3'>" + t('facebook.ask_facebook_event_categories.Club_party')+"</option>
      <option value='4'>" + t('facebook.ask_facebook_event_categories.Fraternity')+"</option>
      <option value='5'>" + t('facebook.ask_facebook_event_categories.Barbecue')+"</option>
      <option value='6'>" + t('facebook.ask_facebook_event_categories.Card_night')+"</option>
      <option value='7'>" + t('facebook.ask_facebook_event_categories.Dinner_party')+"</option>
      <option value='8'>" + t('facebook.ask_facebook_event_categories.Holiday_party')+"</option>
      <option value='9'>" + t('facebook.ask_facebook_event_categories.Night_of_mayhem')+"</option>
      <option value='10'>" + t('facebook.ask_facebook_event_categories.Movie')+"</option>
      <option value='11'>" + t('facebook.ask_facebook_event_categories.Drinking_games')+"</option>
      <option value='12'>" + t('facebook.ask_facebook_event_categories.Bar_night')+"</option>
      <option value='13'>" + t('facebook.ask_facebook_event_categories.LAN_party')+"</option>
      <option value='14'>" + t('facebook.ask_facebook_event_categories.Mixer')+"</option>
      <option value='15'>" + t('facebook.ask_facebook_event_categories.Slumber_party')+"</option>
      <option value='16'>" + t('facebook.ask_facebook_event_categories.Erotic_party')+"</option>
      <option value='17'>" + t('facebook.ask_facebook_event_categories.Benefit')+"</option>
      <option value='18'>" + t('facebook.ask_facebook_event_categories.Goodbye_party')+"</option>
      <option value='19'>" + t('facebook.ask_facebook_event_categories.House_party')+"</option>
      <option value='20'>" + t('facebook.ask_facebook_event_categories.Reunion')+"</option>
      <option value='21'>" + t('facebook.ask_facebook_event_categories.Fundraiser')+"</option>
      <option value='22'>" + t('facebook.ask_facebook_event_categories.Protest')+"</option>
      <option value='23'>" + t('facebook.ask_facebook_event_categories.Rally')+"</option>
      <option value='24'>" + t('facebook.ask_facebook_event_categories.Study_group')+"</option>
      <option value='25'>" + t('facebook.ask_facebook_event_categories.Class')+"</option>
      <option value='26'>" + t('facebook.ask_facebook_event_categories.Lecture')+"</option>
      <option value='27'>" + t('facebook.ask_facebook_event_categories.Office_hours')+"</option>
      <option value='28'>" + t('facebook.ask_facebook_event_categories.Workshop')+"</option>
      <option value='29'>" + t('facebook.ask_facebook_event_categories.Business_meeting')+"</option>
      <option value='30'>" + t('facebook.ask_facebook_event_categories.Club')+"</option>
      <option value='31'>" + t('facebook.ask_facebook_event_categories.Convention')+"</option>
      <option value='32'>" + t('facebook.ask_facebook_event_categories.Dorm')+"</option>
      <option value='33'>" + t('facebook.ask_facebook_event_categories.Informational_meeting')+"</option>
      <option value='34'>" + t('facebook.ask_facebook_event_categories.Concert')+"</option>
    <option value='35'>" + t('facebook.ask_facebook_event_categories.Audition')+"</option>
    <option value='36'>" + t('facebook.ask_facebook_event_categories.Exhibit')+"</option>
    <option value='37'>" + t('facebook.ask_facebook_event_categories.Jam_session ')+"</option>
    <option value='38'>" + t('facebook.ask_facebook_event_categories.Listening_party')+"</option>
    <option value='39'>" + t('facebook.ask_facebook_event_categories.Opening')+"</option>
    <option value='40'>" + t('facebook.ask_facebook_event_categories.Performance')+"</option>
    <option value='41'>" + t('facebook.ask_facebook_event_categories.Preview')+"</option>
    <option value='42'>" + t('facebook.ask_facebook_event_categories.Recital')+"</option>
    <option value='43'>" + t('facebook.ask_facebook_event_categories.Rehearsal')+"</option>
    <option value='44'>" + t('facebook.ask_facebook_event_categories.Pep_rally')+"</option>
    <option value='45'>" + t('facebook.ask_facebook_event_categories.Pick-Up')+"</option>
    <option value='46'>" + t('facebook.ask_facebook_event_categories.Sporting-event')+"</option>
    <option value='47'>" + t('facebook.ask_facebook_event_categories.Sports_practice')+"</option>
    <option value='48'>" + t('facebook.ask_facebook_event_categories.Tournament')+"</option>
    <option value='49'>" + t('facebook.ask_facebook_event_categories.Camping_trip')+"</option>
    <option value='50'>" + t('facebook.ask_facebook_event_categories.Daytrip')+"</option>
    <option value='51'>" + t('facebook.ask_facebook_event_categories.Group_trip')+"</option>
    <option value='52'>" + t('facebook.ask_facebook_event_categories.Roadtrip')+"</option>
    <option value='53'>" + t('facebook.ask_facebook_event_categories.Carnival')+"</option>
    <option value='54'>" + t('facebook.ask_facebook_event_categories.Ceremony')+"</option>
    <option value='55'>" + t('facebook.ask_facebook_event_categories.Festival')+"</option>
    <option value='56'>" + t('facebook.ask_facebook_event_categories.Flea_market')+"</option>
    <option value='57'>" + t('facebook.ask_facebook_event_categories.Retail')+"</option>
    <option value='58'>" + t('facebook.ask_facebook_event_categories.Wedding')+"</option>" %>
  </p>
  <%=  hidden_field_tag 'event_id', @event.id %>
  <p>
    <%= f.submit t('facebook.ask_facebook_event_categories.Publish_Facebook') %>
  </p>
<% end %>