<%= render :partial => @header_gallery %>
<ul class="tabsShowUser">

  <% if @picture.last_position(:active) != 0 %>
    <li>
      <% if action_name == 'show' %>
        <%= link_to(t('pictures.header.Picture') + "#{@picture.position_active}" + t('pictures.header.of') + "#{@picture.last_position(:active)}", @picture, :class => 'selected') %>
      <% else %>
        <%= link_to(t('pictures.header.Picture') + "#{@picture.position_active}" + t('pictures.header.of') + "#{@picture.last_position(:active)}", @picture) %>
      <% end %>
    </li>
  <% end %>

  <% if is_picture_moderator?(@picture) && @picture.id %>
    <li>
      <% if action_name == 'edit' %>
        <%= link_to t('pictures.show.Edit'), get_edit_picture_polymorphic_parent_url(@picture), :class => 'selected' %>
      <% else %>
        <%= link_to t('pictures.show.Edit'), get_edit_picture_polymorphic_parent_url(@picture) %>
      <% end %>
    </li>
  <% end %>
  <li>
    <%= link_to  t('pictures.header.Back_to') + t('pictures.header.'"#{@picture.get_parent_object.type}"), url_for_even_polymorphic(@picture.get_parent_object) %>
  </li>
  <% if !@picture.get_parent_object.get_parent_object.nil? %>
    <li>
      <%= link_to t('pictures.header.Back_to') + t('pictures.header.'"#{@picture.get_parent_object.get_parent_object.type}"), url_for(@picture.get_parent_object.get_parent_object) %>
    </li>
  <% end %>
</ul>