<%  complete = "$('spinner-pic').hide(); " + "$('picture-show').show()"
loading = "$('spinner-pic').show(); " + "$('picture-show').hide(); " %>
<%  prev_pic_link = link_to_remote( t('pictures.show.Previous'),
  :url => url_for_even_polymorphic(@picture.previous_item(:active)),
  :loading => loading, :complete => complete, :method => :get) unless @picture.first_item?(:active) %>
<%  next_pic_link = link_to_remote( t('pictures.show.Next'),
  :url => url_for_even_polymorphic(@picture.next_item(:active)),
  :loading => loading, :complete => complete, :method => :get) unless @picture.last_item?(:active) %>
<div id="results">
  <%= render :partial => "header" %>
  <div class="pictureShowContent">
    <div class="pictureShowNotation">
      <%= render :partial => "rating/rating", :locals => { :current_object => @picture } %>
    </div>

    <% if  @parent_object.class.to_s.eql?("Gallery") %>
      <div class="pictureShowCenter">
        <div class="pictureShowLeft">
          <%= prev_pic_link unless prev_pic_link.nil? %>
        </div>
        <div class="pictureShowRight">
          <%= next_pic_link unless next_pic_link.nil? %>
        </div>
      </div>
    <% end %>

    <div class="pictureShowPicure" id="picture-show">
      <% if @picture.last_item?(:active) %>
        <%= link_to(image_tag(@picture.attached.url(:large)),get_picture_polymorphic_parent_url(@picture)) %>
      <% else %>
        <%= link_to_remote(image_tag(@picture.attached.url(:large)), :url => url_for_even_polymorphic(@picture.next_item(:active)), :loading => loading, :complete => complete, :method => :get) %>
      <% end %>
    </div>
    <div id="spinner-pic" class="pictureShowPicure" style="display:none;">
      <!--<img id ="yop" src="/images/spinner.gif" alt="Refreshing calendar" />-->
      <%= image_tag "big-spinner.gif", :class => "image", :alt => "changing image" %>
    </div>

    <% if  @parent_object.class.to_s.eql?("Gallery") %>
      <div class="pictureShowCenter">
        <div class="pictureShowLeft">
          <%= prev_pic_link unless prev_pic_link.nil? %>
        </div>
        <div class="pictureShowRight">
          <%= next_pic_link unless next_pic_link.nil? %>
        </div>
      </div>
    <% end %>

    <div class="pictureShowRight">
      <p>
        <b><%= t('pictures.show.Creator') %></b>
        <%= get_user_name_or_pseudo_link_by_id(@picture.creator_id) %>
      </p>
    </div>
  </div>


  <% if @picture.description %>
    <div class="titledescription"></div>
    <div class="pictureShowContent">
      <p>
        <%=h @picture.description %>
      </p>
    </div>
  <% end %>


  <div class="titlecomment"></div>
  <%= render :partial => "/comments/form" %>
  <%= render :partial => "/comments/list" %>
</div>