<div id="results">
  <table>
    <tr>
      <th><%= t('pictures.list.Preview') %></th>
      <th><%= t('pictures.list.Parent') %></th>
      <th><%= t('pictures.list.Description') %></th>
      <th><%= t('pictures.list.Creator') %></th>
    </tr>

    <% @pictures.each do |picture| %>
      <tr>
        <td><%=  link_to(image_tag(picture.attached.url(:small)), picture) %></td>
        <td>From <%= picture.parent_type %> <%=  link_to(get_object_name(picture.get_parent_object), picture.get_parent_object) %></td>
        <td><%=h picture.description %></td>
        <td><%= get_user_name_or_pseudo_link_by_id(picture.creator_id) %></td>
        <td><%= link_to t('pictures.list.Edit'), edit_picture_path(picture) %></td>
        <td><%= render :partial => "rating/mini_rating", :locals => { :current_object => picture } if picture.rating > 0 %></td>
      </tr>
    <% end %>
  </table>

  <br />

  <%= will_paginate @pictures, :params => {:anchor => "top" }  %>
</div>