<h1>Editing picture</h1>

<%=  image_tag(@picture.attached.url(:medium)) %>

<% form_for @picture, :html => { :multipart => true } do |f| %>

 <%= f.error_messages %>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>

 
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @picture %> |
<%= link_to 'Back', pictures_path %>