
<%= render :partial => "header" %>

<div class="pictureShowEdit">

  <div class="pictureShowEditLeft">

    <%=  image_tag(@picture.attached.url(:medium)) %>
  </div>

  <div class="pictureShowEditRight">
    <% form_for(@picture, :url => url_for_even_polymorphic(@picture), :html => { :multipart => true }) do |f| %>

      <%= f.error_messages %>
      
        <%= t('pictures.edit.Description') %>
      
        <%= f.text_area :description, :cols => 50, :rows => 5 %>
      

    </div>
    <div class="pictureShowEditCenter">
      <%= f.submit t('pictures.edit.Update') %>
    </div>

  <% end %>
</div>