<%= render :partial => "header" %>
<div class="pictureShowContent">
  <div class="pictureShowNotation">
    <%= render :partial => "rating/rating", :locals => { :current_object => @picture } %>
  </div>

  <% if  @parent_object.class.to_s.eql?("Gallery") %>
    <div class="pictureShowCenter">
      <div class="pictureShowLeft">
        <%= link_to(t('pictures.show.Previous'), url_for_even_polymorphic(@picture.previous_item)) unless @picture.first_item? %>
      </div>
      <div class="pictureShowRight">
        <%= link_to(t('pictures.show.Next'), url_for_even_polymorphic(@picture.next_item)) unless @picture.last_item? %>
      </div>
    </div>
  <% end %>

  <div class="pictureShowPicure">
    <%= link_to(image_tag(@picture.attached.url(:large)),get_picture_polymorphic_parent_url(@picture)) %>
  </div>

  <% if  @parent_object.class.to_s.eql?("Gallery") %>
    <div class="pictureShowCenter">
      <div class="pictureShowLeft">
        <%= link_to(t('pictures.show.Previous'), url_for_even_polymorphic(@picture.previous_item)) unless @picture.first_item? %>
      </div>
      <div class="pictureShowRight">
        <%= link_to(t('pictures.show.Next'), url_for_even_polymorphic(@picture.next_item)) unless @picture.last_item? %>
      </div>
    </div>
  <% end %>

  <div class="pictureShowRight">
    <p>
      <b><%= t('pictures.show.Creator') %></b>
      <%= get_user_name_or_pseudo_link_by_id(@picture.creator_id) %>
    </p>
  </div>
</div>


<% if @picture.description %>
  <div class="titledescription"></div>
  <div class="pictureShowContent">
    <p>
      <%=h @picture.description %>
    </p>
  </div>
<% end %>


<div class="titlecomment"></div>
<%= render :partial => "/comments/form" %>
<%= render :partial => "/comments/list" %>

