<%= render :partial => "header" %>
<div class="pictureShowContent">
  <div class="span-6 last">
    <%= render :partial => "rating/rating", :locals => { :current_object => @picture } %>

  </div>
  <div class="span-6 last">
      <% if  @parent_object.class.to_s.eql?("Gallery") %>
      <%= link_to(t('pictures.show.Previous'), url_for_even_polymorphic(@picture.previous_item)) unless @picture.first_item? %>&nbsp;&nbsp;
      <%= link_to(t('pictures.show.Next'), url_for_even_polymorphic(@picture.next_item)) unless @picture.last_item? %>
    <% end %>
</div>
  <div class="span-15 last prepend-1 append-1">
    <%= link_to(image_tag(@picture.attached.url(:large)),get_picture_polymorphic_parent_url(@picture)) %>
  </div>

  <% if @picture.description %>
    <p>
      <b><%= t('pictures.show.Description') %></b>
      <%=h @picture.description %>
    </p>
  <% end %>
  <p>
    <b><%= t('pictures.show.Creator') %></b>
    <%= get_user_name_or_pseudo_link_by_id(@picture.creator_id) %>
  </p>
</div>

  <div class="titlecomment"></div>
  <%= render :partial => "/comments/form" %>
  <%= render :partial => "/comments/list" %>

