<%= render :partial => "header" %>
<div class="span-6 last">
  <%= render :partial => "rating/rating", :locals => { :current_object => @picture } %>
  <% if  @parent_object.class.to_s.eql?("Gallery") %>
    <%= link_to("previous", url_for_even_polymorphic(@picture.previous_item)) unless @picture.first_item? %>&nbsp;&nbsp;
    <%= link_to("next", url_for_even_polymorphic(@picture.next_item)) unless @picture.last_item? %>
  <% end %>
</div>
<hr />
<div class="span-15 last prepend-1 append-1">
  <%= link_to(image_tag(@picture.attached.url(:large)),get_picture_polymorphic_parent_url(@picture)) %>
</div>

<br />
<%= link_to 'Edit', get_edit_picture_polymorphic_parent_url(@picture) %>


<% if @picture.description %>
  <p>
    <b>Description:</b>
    <%=h @picture.description %>
  </p>
<% end %>
<p>
  <b>Creator:</b>
  <%= get_user_name_or_pseudo_link_by_id(@picture.creator_id) %>
</p>

<h2>Comments</h2>
<%= render :partial => "/comments/list" %>
<%= render :partial => "/comments/form" %>

