<%= render :partial => "/shared_templates/email_header" %>
<p>Dear <%=h get_user_name_or_pseudo(@user) %>,</p>

<p>You receive this email because you are a system moderator or admin.<br />
A picture has been updated.</p>

<p>You can eventually:</p>

<p>Edit the picture:<br />
  <%=h @url_edit %></p>

<p>Suspend the picture:<br />
  <%=h @url_suspend %></p>

<p>You can see the picture:<br />
 <%=h @url_picture %></p>

<p>The context of this picture is:<br />
 <%=h @url_context %></p>

<p>Regards.</p>
<%= render :partial => "/shared_templates/email_footer" %>
