 <%= render :partial => "/users/header" %>

<% form_tag user_other_friends_path, :method => 'get' do %>
  <p>
    <%#=  hidden_field_tag 'role', params[:role] %>

    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>


 <% if @user == current_user %>
    <hr />
    <h4 class="caps">INVITE YOUR FRIENDS (<%= @facebook_friends.size %>/<%= @total_number %>)</h4>
    <p>These people are your friends on Facebook, but have never connected here<br />
    Help them join you by inviting them</p>
    <div>
    <%= render :partial => "facebook_users_list" %>
  <% end %>
  </div>

    

