<div id="results">
  <div class="list">
    <% @posts.each do |post| %>
    <div class="listSeparator">

      <div class="blogBox">
        <h4><%= link_to post.name, polymorphic_path([@parent_object, post].flatten) %></h4>
        <p>
          <%= post.text_long %>
        </p>
        <%= t('posts.list.Created') %>  <%= time_ago_in_words(post.created_at) %>  <%= t('posts.list.by') %>y <%= get_user_name_or_pseudo_link_by_id(post.creator_id) %>
      </div>
    </div>
    <% end %>
    <%= will_paginate @posts %>
    <% if @posts.size == 0 %>
      <div class="noPost">
         <%= t('posts.list.No_results') %>
      </div>
    <% end %>
  </div>
</div>