<%= render :partial => @header_partial %>
<div class="blogBody">
    <div class="listContent">
      <%= render :partial => "sub_header" %>
      <div class="list">
        <div class="listSeparator">
          <div class="blogBox">
            <h4><%= t('posts.edit.Message_edition') %></h4>

            <% form_for(@post, :url => polymorphic_path([@parent_object, @post].flatten)) do |f| %>
              <%= f.error_messages %>

             <%= render :partial => 'form', :locals => { :f => f } %>

             <%= f.submit t('posts.edit.Update') %>
            
            <% end %>
          </div>
          </div>
        </div>
       

   </div>
</div>