<%= render :partial => @header_partial %>
<%= link_to 'Back', polymorphic_path([@parent_object, :posts].flatten) %>
<h4>Editing post</h4>

<% form_for(@post, :url => polymorphic_path([@parent_object, @post].flatten)) do |f| %>
  <%= f.error_messages %>

 <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', polymorphic_path([@parent_object, @post].flatten) %> |
<%= link_to 'Back', polymorphic_path([@parent_object, :posts].flatten) %>