<%= render :partial => @header_partial %>
<h4>New post</h4>

<% form_for(@post, :url => polymorphic_path([@parent_object, :posts].flatten)) do |f| %>
  <%= f.error_messages %>

  <%=  hidden_field_tag :parent_id, @parent_object.id %>
  <%=  hidden_field_tag :parent_type, @parent_object.class %>

 <%= render :partial => 'form', :locals => { :f => f } %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', polymorphic_path([@parent_object, :posts].flatten) %>