<%= render :partial => @header_partial %>
<div class="blogBody">
  <div class="blogContent">
    <h4>Ajout d'une nouvelle annonce</h4>

    <% form_for(@post, :url => polymorphic_path([@parent_object, :posts].flatten), :live_validations => true) do |f| %>
      <%= f.error_messages %>

      <%=  hidden_field_tag :parent_id, @parent_object.id %>
      <%=  hidden_field_tag :parent_type, @parent_object.class %>

      <%= render :partial => 'form', :locals => { :f => f } %>

      <p>
        <%= f.submit 'Create' %>
      </p>
    <% end %>


  </div>
</div>