<%= render :partial => @header_partial %>
<div class="blogBody">
    <div class="listContent">
      <%= render :partial => "sub_header" %>

    <div class="list">
      <div class="listSeparator">
        <div class="blogBox">
          <h4><%= t('posts.show.Post') %> - <%=h @post.name %></h4>
          <p>
            <%= @post.text_long %>
          </p>
          <%= t('posts.show.Created') %> <%= time_ago_in_words(@post.created_at) %> <%= t('posts.show.by') %> <%= get_user_name_or_pseudo_link_by_id(@post.creator_id) %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="titlecomment"></div>
<div class="blogCommentaire">
  <%= render :partial => "/comments/list" %>
  <%= render :partial => "/comments/form" %>
</div>

