
<div id="results">
  <div class="titlegaleries"></div>
  <% @galleries.each do |gallery| %>
  <div class="GalleryListSeparator">
    <div class="GalleryListLeft">
      <%= display_gallery_cover(gallery, :small) %>
      <%= gallery.pictures.size %><%= t('galleries.list.Pictures') %>
            
    </div>
    <div class="GalleryListRight">
      <h4><%= link_to(gallery.name, url_for_even_polymorphic(gallery)) %></h4>
      <p>
        <%= gallery.description %>
      </p>
      <p>
        <%= render :partial => "rating/mini_rating", :locals => { :current_object => gallery } if gallery.rating > 0 %>
      </p>
      <p>
        <%= t('galleries.list.From') %> <%= gallery.parent_type %> <%=  link_to(gallery.get_parent_object.name, gallery.get_parent_object) %>
      </p>
      <p>
        <%= t('galleries.list.From') %> <%= get_user_name_or_pseudo_link_by_id(gallery.creator_id) %>
      </p>
      <% if is_gallery_moderator?(gallery) %>
      <div class="GalleryAction">
        <%= link_to t('galleries.list.Show'), url_for_even_polymorphic(gallery) %>
        <%= link_to t('galleries.list.Edit'), edit_polymorphic_path([gallery.get_parent_object, gallery].flatten) %>
        <%= link_to t('galleries.list.Destroy'), gallery, :confirm => t('galleries.list.Are_you_sure'), :method => :delete %>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
  <div class="pagination">
    <%= will_paginate @galleries, :params => {:anchor => "top" }  %>
  </div>
</div>
