<% if @current_object.galleries.size > 0 %>

  <div class="span-4 colborder">
    <h4 class="caps">PICTURES GALLERIES</h4>
    <br />
     <%= link_to("All galleries  (#{@current_object.galleries.size})", organism_galleries_path(:organism_id => @organism.id)) %>
    <br /> <br />
    <%= link_to("Attach a new gallery !", url_for(:controller => 'galleries', :action => 'new', :parent_id =>@current_object.id, :parent_type => @current_object.type)) %>
  </div>
  <div class="span-12 last">
    <% @current_object.galleries.each do |gallery| %>
      <div class="span-3">
        <div class="box">
          <%= link_to(display_gallery_cover(gallery, :thumb), gallery) %>&nbsp;
          <%= link_to gallery.name, gallery %>
          <%= gallery.pictures.size %>&nbsp;photos
        </div>
      </div>
    <% end %>
  </div>
<hr />
<% elsif is_current_object_moderator?(@current_object) %>
  <h4 class="caps">PICTURES GALLERIES</h4>
  <div class="box">
    <%= link_to("Attache a new gallery !", url_for(:controller => 'galleries', :action => 'new', :parent_id =>@current_object.id, :parent_type => @current_object.type)) %>
  </div>
  <hr />
<% end %>