<%= render :partial => "header" %>
<div class="galleriesContent">
  <%= render :partial => "sub_header" %>
  <div class="galleriesList">
    <div class="galleriesBox">
      <% form_for(@gallery, :url => url_for_even_polymorphic(@gallery, :action => 'do_add_pics'), :html => { :multipart => true })  do |f| %>

        <%= f.error_messages %>

        <div id="pictures">
          <%= render :partial => 'picture', :collection => @new_pictures %>
        </div>

        <%= link_to_function t('galleries.add_picture.Add_picture'), nil, :id => "more_pic" do |page|
          page << "if ( typeof( window['counter'] ) == 'undefined' ) {counter=0}"
          page << "if(counter < 6) {"
            page.insert_html :bottom, :pictures, :partial => 'picture', :object => Picture.new
            page << "counter += 1"
          page << "}else{"
            page.replace_html(:more_pic,t('galleries.add_picture.Add_picture_not_possible'))
          page << "}"
        end %>
        <p>
          <%= f.submit t('galleries.add_picture.Update') %>
        </p>
      <% end %>
    </div>
  </div>
</div>