<div class="galleriesContent">
  <%= render :partial => "sub_header" %>
  <div class="galleriesList">
    <div class="galleriesBox">
    <% form_for @gallery, :html => { :multipart => true }  do |f| %>
      <%= f.error_messages %>
      <div class="galleriesBoxEdit">
        <h3><%= f.text_field :name, :class => 'title' %></h3>
        
          <%= fckeditor_textarea(:gallery, :description, :toolbarSet => 'Simple', :width => '80%', :height => '400px') %>
        
        <p>
          <%= f.label :add_picture_right %>
          <%=  select("gallery", "add_picture_right", @rights, {}, { }) %>
        </p>
        <p>
          <%= f.label :add_picture_moderation %>
          <%= f.check_box :add_picture_moderation %>
        </p>
       
          <%= f.submit t('galleries.edit.Update') %>
        
      </div>
    <% end %>
    </div>
  </div>
</div>