<h1>Editing <%= @gallery.name %></h1>
<h3>gallery of <%= @parent_object.name %></h3>



<% form_for @gallery, :html => { :multipart => true }  do |f| %>

  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= fckeditor_textarea(:gallery, :description, :toolbarSet => 'Simple', :width => '80%', :height => '400px') %>
  </p>
  <p>
    <%= f.label :add_picture_right %><br />
    <%=  select("gallery", "add_picture_right", @rights, {}, { }) %>
  </p>
  <p>
    <%= f.label :add_picture_moderation %><br />
    <%= f.check_box :add_picture_moderation %>
  </p>


  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>


<%= link_to 'Show', @gallery %> |
<%= link_to 'Back', galleries_path %>