<%= render :partial => "header" %>
<div class="span-8">
  <%= display_gallery_cover(@gallery, :medium) %>
</div>
<div class="span-9 last">
  <% if @gallery.description && @gallery.description!='' %>
  <div class="box">
    <b>Description:</b>
    <%= @gallery.description %>
  </div>
  
  <% end %>
  <div class="box"><br />
    <b>Creator:</b>
    <%=h get_user_name_or_pseudo_by_id(@gallery.creator_id) %>
  </div>
</div>
<hr />
<% cc = 1 %>
<% for picture in @gallery.pictures %>
  <div class="span-5">
    <div class="box">
      <%= link_to(image_tag(picture.attached.url(:small)), polymorphic_path([@gallery.get_parent_object, @gallery, picture].flatten)) %>
      <%= render :partial => "rating/mini_rating", :locals => { :current_object => picture } if picture.rating > 0 %>
    </div>
  </div>
  <% if cc.modulo(3)==0 %>
<hr />
  <% end %>
  <% cc += 1 %>
<% end %>
<hr />



<h2>Comments</h2>
<%= render :partial => "/comments/list" %>
<%= render :partial => "/comments/form" %>

<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', @parent_object %>