<%= render :partial => "header" %>
<div class="galleriesContent">
  <%= render :partial => "sub_header" %>
  <div class="galleriesList">
    <% if @gallery.description && @gallery.description!='' %>
      <div class="titledescription"></div>
      <div class="galleriesBox">
        <p>
          <%= @gallery.description %>
        </p>
      </div>
    <% end %>
    <div class="galleriesBox">
      <%= t('galleries.show.Creator') %>
      <%= get_user_name_or_pseudo_link_by_id(@gallery.creator_id) %>
    </div>
    <div class="galleriesBox">
      <% for picture in @gallery.pictures %>
        <div class="galleriesBoxImage">
            <%= link_to(image_tag(picture.attached.url(:small)), polymorphic_path([@gallery.get_parent_object, @gallery, picture].flatten)) %>
          <div class="galleriesBoxImageNotation">
            <%= render :partial => "rating/mini_rating", :locals => { :current_object => picture } if picture.rating > 0 %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>

<div class="titlecomment"></div>
<%= render :partial => "/comments/list" %>
<%= render :partial => "/comments/form" %>

