<div id="results">
  <% @categories.each do |category| %>
    <div class="categorie">
      <h5><%=h category.name %></h5>
      <p>
        <%=h category.description %>
      </p>
      <%= link_to t('categories.list.Show'), category %>
      <%= link_to t('categories.list.Edit'), edit_category_path(category) %>
      <%= link_to t('categories.list.Destroy'), category, :confirm => t('categories.list.Are_you_sure'), :method => :delete %>
    </div>
  <% end %>
  <%= will_paginate @categories %>
</div>