<% if @category.nil? %> <h3 class="caps">LISTING EVENTS</h3><% end %>

<% if @period_link_param %>
  <div class="listCategories">
    <ul class="tabsevent">
      <li><% if params[:period]=='past'%><%= link_to t('terms.next_events_coming'), get_url_futur_tab %><% else %><%= link_to(t('terms.next_events_coming'), get_url_futur_tab, :class => 'selected') %><% end %></li>
      <li><% if params[:period]!='past'%><%= link_to t('terms.already_started_or_past'), get_url_past_tab %><% else %><%= link_to t('terms.already_started_or_past'), get_url_past_tab, :class => 'selected' %><% end %></li>
    </ul>
  </div>
<% else %>
  <div class="listCategories">
    <ul class="tabsevent">
      <li><%= link_to(t('categories.terms_subheader.Events_occuring')+" "+display_simpliest_date(@the_selected_date), get_url_past_or_futur_tab) %></li>
    </ul>
  </div>
<% end %>


