<h1><%= t('categories.new.New_category') %></h1>

<% form_for(@category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= t('categories.new.Name') %><br />
    <%= f.text_field :name, :class => 'title' %>
  </p>
  <p>
    <%= t('categories.new.Description') %><br />
    <%= f.text_area :description, :cols => 35, :rows => 5 %>
  </p>
  <p>
    <%= t('categories.new.To_display') %><br />
    <%= f.check_box :to_display %>
  </p>
  <p>
    <%= f.submit t('categories.Create') %>
  </p>
<% end %>

<%= link_to t('categories.Back'), categories_path %>
