<div class="span-7">
  <h3 class="caps">CATEGORY - <%=h @category.name %></h3>
  <h4 class="caps"><% if params[:period]=='past'%>LAST EVENTS<% else %>NEXT EVENTS COMING<% end %></h4>
<% if params[:period]=='past'%><%= link_to "(see next events coming)", category_path(:id => @category.id, :period => @period_link_param) %><% else %></h4><%= link_to "(already started or past events)", category_path(:id => @category.id, :period => @period_link_param) %><% end %>

</div>
<div class="span-10 last">
  <p>
    <b>Description:</b>
    <%=h @category.description %>
  </p>
</div>

<%= render :partial => "/terms/terms_list" %>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>