<div class="span-7">
 <h3 class="caps">CATEGORY - <%=h @category.name %></h3>
</div>
<div class="span-10 last">
  <p>
    <b>Description:</b>
    <%=h @category.description %>
  </p>
</div>
<hr />
<%= render :partial => "/terms/sub_header" %>
<%= render :partial => "/terms/terms_list" %>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
