<ul class="tabsevent">
  <%# EVENTS %>
  <li>
    <% if params[:focus]!='terms'%>
      <%= link_to(t('terms.next_events_coming'), searchs_path(:focus => 'terms')) %>
    <% else %>
      <%= link_to(t('terms.next_events_coming'), searchs_path(:focus => 'terms'), :class => 'selected') %>
    <% end %>
  </li>
  <%# NETWORK EVENTS %>
    <li>
    <% if params[:focus]=='net_terms'%>
      <%= link_to(t('users.subheader.Events_network'), searchs_path(:focus => 'net_terms')) %>
    <% else %>
      <%= link_to(t('users.subheader.Events_network'), searchs_path(:focus => 'net_terms'), :class => 'selected') %>
    <% end %>
  </li>
  <%# EVENTS BY CATEGORY %>
  <li>
    <% if params[:focus]=='organisms'%>
      <%= link_to(t('searchs.subheader.Organisms'), searchs_path(:focus => 'organisms')) %>
    <% else %>
      <%= link_to(t('searchs.subheader.Organisms'), searchs_path(:focus => 'organisms'), :class => 'selected') %>
    <% end %>
  </li>
  <%# ORGANISMS %>
  <%# ORGANISMS BY ACTIVITY %>
  <%# USERS %>
</ul>