<ul class="tabsevent">
  <%# EVENTS %>
  <li>
    <% if params[:focus]!='terms'%>
      <%= link_to(t('searchs.subheader.Terms')+ " (#{@terms_count})", searchs_path(:focus => 'terms', :search => params[:search])) %>
    <% else %>
      <%= link_to(t('searchs.subheader.Terms')+ " (#{@terms_count})", searchs_path(:focus => 'terms', :search => params[:search]), :class => 'selected') %>
    <% end %>
  </li>
  <%# ORGANISMS %>
  <li>
    <% if params[:focus]!='organisms'%>
      <%= link_to(t('searchs.subheader.Organisms')+ " (#{@organisms_count})", searchs_path(:focus => 'organisms', :search => params[:search])) %>
    <% else %>
      <%= link_to(t('searchs.subheader.Organisms')+ " (#{@organisms_count})", searchs_path(:focus => 'organisms', :search => params[:search]), :class => 'selected') %>
    <% end %>
  </li>
  <%# USERS %>
  <li>
    <% if params[:focus]!='users'%>
      <%= link_to(t('searchs.subheader.Users')+ " (#{@users_count})", searchs_path(:focus => 'users', :search => params[:search])) %>
    <% else %>
      <%= link_to(t('searchs.subheader.Users')+ " (#{@users_count})", searchs_path(:focus => 'users', :search => params[:search]), :class => 'selected') %>
    <% end %>
  </li>
</ul>