<h1><%= t('activities.new.New_activity') %></h1>

<% form_for(@activity) do |f| %>
  <%= f.error_messages %>

  <p>
    <%=  t('activities.new.Name') %><br />
    <%= f.text_field :name, :class => 'title' %>
  </p>
  <p>
    <%=  t('activities.new.Description') %><br />
    <%= f.text_area :description, :cols => 35, :rows => 5 %>
  </p>
  <p>
    <%= f.submit t('activities.new.Create') %>
  </p>
<% end %>

<%= link_to t('activities.new.Back'), activities_path %>
