<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title><%= get_page_title %></title>
<%#= stylesheet_link_tag 'scaffold' %>
    <%= stylesheet_link_tag 'livevalidation' %>
    <%= stylesheet_link_tag 'swapselect' %>
    <%= stylesheet_link_tag 'calendar/grey/style' %>
    <%= stylesheet_link_tag 'mini-rating' %>
    <%= stylesheet_link_tag 'rating' %>
    <%= stylesheet_link_tag 'blueprint/screen', :media => "all" %>
    <%= stylesheet_link_tag 'blueprint/print', :media => "print" %>
    <%= stylesheet_link_tag 'tabsplugin/screen', :media => "all" %>
    <%= stylesheet_link_tag 'application', :media => "print" %>
    <script type="text/javascript">
 
      function setBorder(SelectedId, TopId)
      {
        var SelectedDiv=document.getElementById(SelectedId);
        var TopDiv=document.getElementById(TopId);

        TopDiv.style.borderRight = SelectedDiv.offsetWidth-3+"px solid black";
        return;
      }
 
    </script>
    <!--[if lt IE 8]>
<link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection">
<![endif]-->

    <%= javascript_include_tag :defaults%>
    <%#= javascript_include_tag 'prototype', 'effects', 'dragdrop', 'controls', 'application' %>

    <%= javascript_include_tag "livevalidation" %>

    <%= javascript_include_tag "swapselect" %>

    <%= javascript_include_tag :fckeditor %>


  </head>
  <body>

    <!--Appel fonctions facebook pour le Login-->
    <%= fb_connect_javascript_tag %>
    <%= init_fb_connect "XFBML"%>

    <%= calendar_date_select_includes "red" %> <%# or "blue", or "silver" %>
    <div class="container">
      <!--Login Box-->
      <div class="loginbox">
        <%= render :partial => "users/user_bar" %>
      </div>
      <!--Header of the web site containing menus -->
      <div class="header">
        <div class="headerleft" onclick="location.href='<%= root_path  %> ';" style="cursor:pointer;" title="Accueil Le Bounce">
        </div>
        <div class="headerright">
          <ul class='tabs'>
            <li><% if controller_name != 'terms' && controller_name != 'categories' %><%= link_to(t('main_menu.events_by_date'), url_for(terms_path)) %><% else %><div class="topId" id="TopId"></div><div id="SelectedId"><%= link_to(t('main_menu.events_by_date'), url_for(terms_path), :class => 'selected') %></div><% end %></li>
            <li><% if controller_name != 'activities' && controller_name != 'organisms' %><%= link_to(t('main_menu.directory'), url_for(activities_path)) %><% else %><div class="topId" id="TopId"></div><div id="SelectedId"><%= link_to(t('main_menu.directory'), url_for(activities_path), :class => 'selected') %></div><% end %></li>
            <li><% if controller_name != 'galleries' %><%= link_to(t('main_menu.pictures_galleries'), url_for(galleries_path)) %><% else %><div class="topId" id="TopId"></div><div id="SelectedId"><%= link_to(t('main_menu.pictures_galleries'), url_for(galleries_path), :class => 'selected') %></div><% end %></li>
            <li><% if controller_name != 'users' %><%= link_to(t('main_menu.users'), url_for(users_path)) %><% else %><div class="topId" id="TopId"></div><div id="SelectedId"><%= link_to(t('main_menu.users'), url_for(users_path), :class => 'selected') %></div><% end %></li>
            <li><% if controller_name != 'information' %><%= link_to(t('main_menu.information'), url_for(information_path)) %><% else %><div class="topId" id="TopId"></div><div id="SelectedId"><%= link_to(t('main_menu.information'), url_for(information_path), :class => 'selected') %></div><% end %></li>
          </ul>
          <script type="text/javascript">
            setBorder("SelectedId", "TopId");
          </script>
        </div>
      </div>

      <!-- categories of the events/organisms-->
      


            
      <div class="menu">
        <div class="span-2 colborder">
          <% categories_by_parent_id(0).each do |category| %>
              <% if (controller_name == 'categories' && params[:id].to_i==category.id) %><%= link_to(category.name, url_for(category_path(category)), :class => 'selected') %><% else %><%= link_to(category.name, url_for(category_path(category))) %><% end %>
          <% end %>
        </div>
        <div class="span-2 colborder">
          <% categories_by_parent_id(1).each do |category| %>

              <% if (controller_name == 'categories' && params[:id].to_i==category.id) %><%= link_to(category.name, url_for(category_path(category)), :class => 'selected') %><% else %><%= link_to(category.name, url_for(category_path(category))) %><% end %>

          <% end %>
        </div>
        <div class="span-2 colborder">
          <% categories_by_parent_id(2).each do |category| %>

             <% if (controller_name == 'categories' && params[:id].to_i==category.id) %><%= link_to(category.name, url_for(category_path(category)), :class => 'selected') %><% else %><%= link_to(category.name, url_for(category_path(category))) %><% end %>

          <% end %>
        </div>
        <div class="span-2 colborder">
          <% categories_by_parent_id(3).each do |category| %>

           <% if (controller_name == 'categories' && params[:id].to_i==category.id) %><%= link_to(category.name, url_for(category_path(category)), :class => 'selected') %><% else %><%= link_to(category.name, url_for(category_path(category))) %><% end %>

          <% end %>
        </div>
        <div class="span-2 last">
          <% categories_by_parent_id(4).each do |category| %>
            <% if (controller_name == 'categories' && params[:id].to_i==category.id) %><%= link_to(category.name, url_for(category_path(category)), :class => 'selected') %><% else %><%= link_to(category.name, url_for(category_path(category))) %><% end %>
          <% end %>
        </div>
      </div>



      <!-- Content of the web site -->
      <!-- <div class="subheader span-25 last">-->
      <div class="subheader">
        <!-- Main big left column-->
        <div class="content">
          <div class="contentleft">
            <div class="information">
              <p>
                Ce site est un prototype. Si un évènement manque ou que vous rencontrez un bug, merci de nous <a href="mailto:lebounceasso[at]gmail.com">contacter</a><br />
                Pour publier un évènement ou pour plus d'infos, <%= link_to 'rendez-vous ici ', information_path %>
              </p>
            </div>
            <div class="accueil">
              <% flash.each do |key, msg| %>
                <%= content_tag :div, msg, :class => [key, " message"], :id => "notice_ #{key}" %>
              <% end %>
              <%= yield %>
            </div>
          </div>

          <!-- Right column -->
          <div class="contentright">
            <div class="sidebar">
              <div class="titlesearch">
             <!--  <h3 class="caps"><%= t("side_bar.search_into") %> <%=  get_current_search_model_type %></h3>-->
              </div>
              <div class="searchbox">
                <% form_tag get_current_search_path, :method => 'get' do %>
                  <p>
                    <% if !params[:period].blank? %>
                      <%= hidden_field_tag :period, params[:period] %>
                    <% end %>
                    <%# if !params[:date].blank? %>
                      <%#= hidden_field_tag :date, params[:date] %>
                    <%# end %>
                    <%= text_field_tag :search, params[:search], :size=>20 %>
                    <%= submit_tag "Go", :name => nil %>
                  </p>
                <% end %>
              </div>
              <div class="titlecalendar">
             <!-- <h3 class="caps"><%= t("side_bar.calendar") %></h3>-->
              </div>
              <%= render :partial => "/calendar/display" %>
              <%#= events_calendar_display %>
              <br />
              <div class="titlepartners"></div>
              <div class="partnersbox">
                <script type="text/javascript"><!--
                  google_ad_client = "pub-3129952355573123";
                  /* 200x200, date de création 29/10/09 */
                  google_ad_slot = "0430759924";
                  google_ad_width = 200;
                  google_ad_height = 200;
                  //-->
                </script>
                <script type="text/javascript"
                        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                </script>
              </div>
          
         <%= render :partial => "/diary/side_diary" %>

            </div>
          </div>
        </div>
      
        
      </div>
      <div class="subFooter">
            <script type="text/javascript"><!--
            google_ad_client = "pub-3129952355573123";
            /* 728x90, date de création 02/11/09 */
            google_ad_slot = "5713324159";
            google_ad_width = 728;
            google_ad_height = 90;
            //-->
            </script>
            <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
      </div>
    </div>
    
    <div class="footer"></div>
  </body>
</html>
